<a href="https://colab.research.google.com/github/TobiPrae/customer_segmentation/blob/main/CustomerSegmentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import packages

In [1]:
# import libraries here; add more as necessary
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 500)
import matplotlib.pyplot as plt
import seaborn as sns

# magic word for producing visualizations in notebook
%matplotlib inline
print("Libraries successfully imported")

Libraries successfully imported

In [2]:
!pip install -U -q PyDrive

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

print("Everything successfully set up")

Everything successfully set up

# Load data

In [3]:
# Get list of every available file in google drive
file_list = drive.ListFile({'q': "'root' in parents and trashed=false"}).GetList()
for file1 in file_list[:1]:
  print('title: %s, id: %s' % (file1['title'], file1['id']))

title: meta_data.xlsx, id: 1QwV131IP74EHaBrKAnlcGk4EaMwBsTHE

In [4]:
# download demographic data
download_data = drive.CreateFile({'id': '135UcsbUyLcwS16QHa7lFcXHKhuy7HwWF'})
download_data.GetContentFile('azdias.csv')  
df_azdias = pd.read_csv('azdias.csv', engine="python", sep=';')

print(df_azdias.shape)

(891221, 366)

In [5]:
# download customer data
download_data = drive.CreateFile({'id': '1eDq76GDZLXeonowxPrbwF-EHZwvaENLK'})
download_data.GetContentFile('customers.csv')  
df_customers = pd.read_csv('customers.csv', engine="python", sep=';')

print(df_customers.shape)

(191652, 369)

In [6]:
# download attribute values and clean them
download_data = drive.CreateFile({'id': '1wFNhCQm7Cv9CGJ7Pm_RbtrJdnLb4zyuC'})
download_data.GetContentFile('attributes_values.xlsx')  
df_attributes_values = pd.read_excel('attributes_values.xlsx', names=["None", "attribute", "description", "value", "meaning"])
df_attributes_values = df_attributes_values.drop(columns=['None'])[1:]
# Forward filling the attribute values df for better filtering/slicing
df_attributes_values["attribute"] = df_attributes_values["attribute"].fillna(method="ffill")
df_attributes_values["description"] = df_attributes_values["description"].fillna(method="ffill")
print(df_attributes_values.shape)

(2258, 4)

In [7]:
# download attribute information levels and clean them
download_data = drive.CreateFile({'id': '1icPBxHTV0zysKvQSJhSDPDhyH8Qd3uqW'})
download_data.GetContentFile('information_levels_attributes.xlsx')  
df_information_levels = pd.read_excel('information_levels_attributes.xlsx', names=["None", "Information_Level", "attribute", "description", "additional_notes"])
df_information_levels = df_information_levels.drop(columns=["None"])[1:]
print(df_information_levels.shape)

(313, 4)

In [8]:
# download demographic data
download_data = drive.CreateFile({'id': '1QwV131IP74EHaBrKAnlcGk4EaMwBsTHE'})
download_data.GetContentFile('meta_data.xlsx')  
meta_data = pd.read_excel('meta_data.xlsx')
meta_data = meta_data.iloc[:365, :]
print(meta_data.shape)

(365, 16)

In [9]:
unknown_cols = meta_data.loc[meta_data["type"] == "Unknown"]["column_name"].tolist()

In [10]:
unknown_cols

['AKT_DAT_KL',
 'ARBEIT',
 'CJT_KATALOGNUTZER',
 'CJT_TYP_1',
 'CJT_TYP_2',
 'CJT_TYP_3',
 'CJT_TYP_4',
 'CJT_TYP_5',
 'CJT_TYP_6',
 'D19_KONSUMTYP_MAX',
 'D19_LETZTER_KAUF_BRANCHE',
 'D19_SOZIALES',
 'D19_TELKO_ONLINE_QUOTE_12',
 'D19_VERSI_DATUM',
 'D19_VERSI_OFFLINE_DATUM',
 'D19_VERSI_ONLINE_DATUM',
 'D19_VERSI_ONLINE_QUOTE_12',
 'DSL_FLAG',
 'EINGEFUEGT_AM',
 'EINGEZOGENAM_HH_JAHR',
 'EXTSEL992',
 'FIRMENDICHTE',
 'GEMEINDETYP',
 'HH_DELTA_FLAG',
 'KBA13_ANTG1',
 'KBA13_ANTG2',
 'KBA13_ANTG3',
 'KBA13_ANTG4',
 'KBA13_BAUMAX',
 'KBA13_GBZ',
 'KBA13_HHZ',
 'KK_KUNDENTYP',
 'KOMBIALTER',
 'KONSUMZELLE',
 'MOBI_RASTER',
 'RT_KEIN_ANREIZ',
 'RT_SCHNAEPPCHEN',
 'RT_UEBERGROESSE',
 'STRUKTURTYP',
 'UMFELD_ALT',
 'UMFELD_JUNG',
 'UNGLEICHENN_FLAG',
 'VERDICHTUNGSRAUM',
 'VERS_TYP',
 'VHA',
 'VHN',
 'VK_DHT4A',
 'VK_DISTANZ',
 'VK_ZG11']

# Functions

In [11]:
def get_description(col):
  '''
  Gets description for given column.

  Args:
  - col: column name

  Returns:
  - description or "No description available."
  '''
  if(df_attributes_values.loc[df_attributes_values["attribute"] == col].shape[0] == 0):
    return "No description available."
  else:
    return df_attributes_values.loc[df_attributes_values["attribute"] == col]["description"].values[0]

# Pipeline

In [12]:
def transformation_pipeline(df, column_threshold = 0.3, row_threshold = 0.3):

  print(f"shape before: {df.shape}")

  # Drop ID column
  df = df.drop(columns="LNR")
  print("index droped")

  # Drop columns with nan percentage over certain threshold
  meta_df = pd.DataFrame(df.columns.tolist())
  meta_df = meta_df.rename(columns={0: "column_name"})
  meta_df["na_percentage"] = meta_df["column_name"].apply(lambda x: df[x].isna().sum()/df.shape[0])
  drop_columns = meta_df.loc[meta_df["na_percentage"] > column_threshold]["column_name"].tolist()
  df = df.drop(columns=drop_columns)
  print(f"columns with nan threshold of {column_threshold} droped: ")
  print(drop_columns)

  # Drop rows with nan percentage over certain threshold
  df["row_nan_percentage"] = pd.Series(df.index).apply(lambda x: df.iloc[x, :].isna().sum()/df.shape[1])
  df = df.loc[df["row_nan_percentage"] < row_threshold]
  print(f"rows with nan threshold of {row_threshold} droped")  

  # Drop columns with unknow data types
  unknown_cols = meta_data.loc[meta_data["type"] == "Unknown"]["column_name"].tolist()
  df_transformed = df.drop(columns=list(set(unknown_cols).intersection(set(df.columns))))
  print("columns with unknown datatype droped")

  # Transform and clean binary features
  df_transformed["ANREDE_KZ"] = df_transformed["ANREDE_KZ"].replace(2, 0) 
  df_transformed["GREEN_AVANTGARDE"] = df_transformed["GREEN_AVANTGARDE"].fillna(df_transformed["GREEN_AVANTGARDE"].mode().values[0])
  df_transformed["OST_WEST_KZ"] = df_transformed["OST_WEST_KZ"].apply(lambda x: 1 if x == 'W' else (0 if 'O' else x))
  df_transformed["SOHO_KZ"] = df_transformed["SOHO_KZ"].fillna(df_transformed["SOHO_KZ"].mode().values[0])
  df_transformed["ANREDE_KZ"] = df_transformed["ANREDE_KZ"].fillna(df_transformed["ANREDE_KZ"].mode().values[0])
  df_transformed["OST_WEST_KZ"] = df_transformed["OST_WEST_KZ"].fillna(df_transformed["OST_WEST_KZ"].mode().values[0])
  print("binary columns transformed")

  # Transform and clean numerical columns
  numerical_columns = meta_data.loc[meta_data["type"] == "Numerical"]["column_name"].tolist()
  for col in list(set(numerical_columns).intersection(set(df_transformed.columns))):
    df_transformed[col] = df_transformed[col].fillna(df_transformed[col].median())
  print("numeric columns transformed")

  # Transform ordinal columns that have no value for unknown
  ordinal_no_unknown_cols = meta_data.loc[(meta_data["9 unknown"] != 'x') & (meta_data["0  unknown"] != 'x') & (meta_data["-1 unknown"] != 'x') & (meta_data["type"] == "Ordinal")]["column_name"].tolist()
  for col in ordinal_no_unknown_cols:
    df_transformed[col] = df_transformed[col].fillna(df_transformed[col].median())
  print("ordinal columns that have no value for unkown transformed")

  # Transform ordinal colums that have 9 or -1 values for unknow
  ordinal_9_1_cols = meta_data.loc[(meta_data["9 unknown"] == 'x') & (meta_data["0  unknown"] != 'x') & (meta_data["-1 unknown"] == 'x') & (meta_data["type"] == "Ordinal")]["column_name"].tolist()
  for col in ordinal_9_1_cols:
    df_transformed[col] = df_transformed[col].replace(9, np.nan).fillna(df_transformed[col].median())
  print("ordinal colums that have 9 or -1 values for unknow transformed")

  print(f"shape after: {df_transformed.shape}")
  return df_transformed

In [13]:
df_azdias_transformed = transformation_pipeline(df_azdias)

shape before: (891221, 366)
index droped
columns with nan threshold of 0.3 droped:
['ALTER_KIND1', 'ALTER_KIND2', 'ALTER_KIND3', 'ALTER_KIND4', 'EXTSEL992', 'KK_KUNDENTYP']
rows with nan threshold of 0.3 droped
columns with unknown datatype droped
binary columns transformed
numeric columns transformed
ordinal columns that have no value for unkown transformed
ordinal colums that have 9 or -1 values for unknow transformed
shape after: (785421, 313)

# Functions

In [ ]:
def engineer_CAMEO_INTL_2015(x):
  '''
  Transform value for feature CAMEO_INTL_2015.

  Args:
  - x: Cell value

  Returns:
  - Transformed x
  '''
  if((x == 'X') | (x == 'XX')):
    return np.nan
  if(str(x)[0] == '1'):
    return '1'
  if(str(x)[0] == '2'):
    return '2'
  if(str(x)[0] == '3'):
    return '3'
  if(str(x)[0] == '4'):
    return '4'
  if(str(x)[0] == '5'):
    return '5'
  else:
    return np.nan

In [ ]:
def engineer_OST_WEST_KZ(x):
  '''
  Transform value for feature OST_WEST_KZ.

  Args:
  - x: Cell value

  Returns:
  - Transformed x
  '''
  if(x == 'W'):
    return 1
  elif(x == 'O'):
    return 0
  else:
    return np.nan

In [ ]:
def create_meta_dataframa():
  '''
  Creates data frame with meta information.

  Args:
  - Nothing

  Returns:
  - meta_df
  '''
  meta_df = pd.DataFrame(df_azdias.columns.tolist())
  meta_df = meta_df.rename(columns={0: "column_name"})
  meta_df["na_percentage_azdias"] = meta_df["column_name"].apply(lambda x: round(df_azdias[x].isna().sum()/df_azdias.shape[0], 4))
  meta_df["na_percentage_customers"] = meta_df["column_name"].apply(lambda x: round(df_customers[x].isna().sum()/df_customers.shape[0], 4))
  meta_df["dtypes_azdias"] =  meta_df["column_name"].apply(lambda x: set(df_azdias[x].map(type).tolist()))
  meta_df["dtypes_customers"] =  meta_df["column_name"].apply(lambda x: set(df_customers[x].map(type).tolist()))
  meta_df["n_dtypes_azdias"] = meta_df["column_name"].apply(lambda x: len(set(df_azdias[x].map(type).tolist())))
  meta_df["n_dtypes_customers"] = meta_df["column_name"].apply(lambda x: len(set(df_customers[x].map(type).tolist())))
  meta_df["unique_values_azdias"] = meta_df["column_name"].apply(lambda x: len(df_azdias[x].value_counts()))
  meta_df["unique_values_customers"] = meta_df["column_name"].apply(lambda x: len(df_customers[x].value_counts()))
  meta_df["description"] =  meta_df["column_name"].apply(get_description)
  meta_df["action"] = "Keep"
  meta_df["reason"] = "None"
  return meta_df

In [ ]:
def engineer_PRAEGENDE_JUGENDJAHRE(x):
  '''
    Transform value for feature PRAEGENDE_JUGENDJAHRE.

  Args:
  - x: Cell value

  Returns:
  - Transformed x
  '''
  if(x in [1, 2]):
    return 40
  elif(x in [3, 4]):
    return 50
  elif(x in [5, 6, 7]):
    return 60
  elif(x in [8, 9]):
    return 70
  elif(x in [10, 11, 12, 13]):
    return 80
  elif(x in [14, 15]):
    return 90
  else:
    return np.nan

In [ ]:
def engineer_ALTER_HH(x):
  '''
  Transform value for feature ALTER_HH.

  Args:
  - x: Cell value

  Returns:
  - Transformed x
  '''
  if(x in [1, 2, 3]):
    return 10
  elif(x in [3, 4, 5]):
    return 20
  elif(x in [6, 7]):
    return 30
  elif(x in [8, 9]):
    return 40
  elif(x in [10, 11]):
    return 50
  elif(x in [12, 13]):
    return 60
  elif(x in [14, 15]):
    return 70
  elif(x in [16, 17]):
    return 80
  elif(x in [18, 19]):
    return 90
  elif(x in [20, 21]):
    return 100
  else:
    return np.nan

# Part 1: Customer Segmentation Report

### Quick overview

In [ ]:
df_azdias.head(5)

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,ANZ_HH_TITEL,ANZ_KINDER,ANZ_PERSONEN,ANZ_STATISTISCHE_HAUSHALTE,ANZ_TITEL,ARBEIT,BALLRAUM,CAMEO_DEU_2015,CAMEO_DEUG_2015,CAMEO_INTL_2015,CJT_GESAMTTYP,CJT_KATALOGNUTZER,CJT_TYP_1,CJT_TYP_2,CJT_TYP_3,CJT_TYP_4,CJT_TYP_5,CJT_TYP_6,D19_BANKEN_ANZ_12,D19_BANKEN_ANZ_24,D19_BANKEN_DATUM,D19_BANKEN_DIREKT,D19_BANKEN_GROSS,D19_BANKEN_LOKAL,D19_BANKEN_OFFLINE_DATUM,D19_BANKEN_ONLINE_DATUM,D19_BANKEN_ONLINE_QUOTE_12,D19_BANKEN_REST,D19_BEKLEIDUNG_GEH,D19_BEKLEIDUNG_REST,D19_BILDUNG,D19_BIO_OEKO,D19_BUCH_CD,D19_DIGIT_SERV,D19_DROGERIEARTIKEL,D19_ENERGIE,D19_FREIZEIT,D19_GARTEN,D19_GESAMT_ANZ_12,D19_GESAMT_ANZ_24,D19_GESAMT_DATUM,D19_GESAMT_OFFLINE_DATUM,D19_GESAMT_ONLINE_DATUM,D19_GESAMT_ONLINE_QUOTE_12,D19_HANDWERK,D19_HAUS_DEKO,D19_KINDERARTIKEL,D19_KONSUMTYP,D19_KONSUMTYP_MAX,D19_KOSMETIK,D19_LEBENSMITTEL,D19_LETZTER_KAUF_BRANCHE,D19_LOTTO,D19_NAHRUNGSERGAENZUNG,D19_RATGEBER,D19_REISEN,D19_SAMMELARTIKEL,D19_SCHUHE,D19_SONSTIGE,D19_SOZIALES,D19_TECHNIK,D19_TELKO_ANZ_12,D19_TELKO_ANZ_24,D19_TELKO_DATUM,D19_TELKO_MOBILE,D19_TELKO_OFFLINE_DATUM,D19_TELKO_ONLINE_DATUM,D19_TELKO_ONLINE_QUOTE_12,D19_TELKO_REST,D19_TIERARTIKEL,D19_VERSAND_ANZ_12,D19_VERSAND_ANZ_24,D19_VERSAND_DATUM,D19_VERSAND_OFFLINE_DATUM,D19_VERSAND_ONLINE_DATUM,D19_VERSAND_ONLINE_QUOTE_12,D19_VERSAND_REST,D19_VERSI_ANZ_12,D19_VERSI_ANZ_24,D19_VERSI_DATUM,D19_VERSI_OFFLINE_DATUM,D19_VERSI_ONLINE_DATUM,D19_VERSI_ONLINE_QUOTE_12,D19_VERSICHERUNGEN,D19_VOLLSORTIMENT,D19_WEIN_FEINKOST,DSL_FLAG,EINGEFUEGT_AM,EINGEZOGENAM_HH_JAHR,EWDICHTE,EXTSEL992,FINANZ_ANLEGER,FINANZ_HAUSBAUER,FINANZ_MINIMALIST,FINANZ_SPARER,FINANZ_UNAUFFAELLIGER,FINANZ_VORSORGER,FINANZTYP,FIRMENDICHTE,GEBAEUDETYP,GEBAEUDETYP_RASTER,GEBURTSJAHR,GEMEINDETYP,GFK_URLAUBERTYP,GREEN_AVANTGARDE,HEALTH_TYP,HH_DELTA_FLAG,HH_EINKOMMEN_SCORE,INNENSTADT,KBA05_ALTER1,KBA05_ALTER2,KBA05_ALTER3,KBA05_ALTER4,KBA05_ANHANG,KBA05_ANTG1,KBA05_ANTG2,KBA05_ANTG3,KBA05_ANTG4,KBA05_AUTOQUOT,KBA05_BAUMAX,KBA05_CCM1,KBA05_CCM2,KBA05_CCM3,KBA05_CCM4,KBA05_DIESEL,KBA05_FRAU,KBA05_GBZ,KBA05_HERST1,KBA05_HERST2,KBA05_HERST3,KBA05_HERST4,KBA05_HERST5,KBA05_HERSTTEMP,KBA05_KRSAQUOT,KBA05_KRSHERST1,KBA05_KRSHERST2,KBA05_KRSHERST3,KBA05_KRSKLEIN,KBA05_KRSOBER,KBA05_KRSVAN,KBA05_KRSZUL,KBA05_KW1,KBA05_KW2,KBA05_KW3,KBA05_MAXAH,KBA05_MAXBJ,KBA05_MAXHERST,KBA05_MAXSEG,KBA05_MAXVORB,KBA05_MOD1,KBA05_MOD2,KBA05_MOD3,KBA05_MOD4,KBA05_MOD8,KBA05_MODTEMP,KBA05_MOTOR,KBA05_MOTRAD,KBA05_SEG1,KBA05_SEG10,KBA05_SEG2,KBA05_SEG3,KBA05_SEG4,KBA05_SEG5,KBA05_SEG6,KBA05_SEG7,KBA05_SEG8,KBA05_SEG9,KBA05_VORB0,KBA05_VORB1,KBA05_VORB2,KBA05_ZUL1,KBA05_ZUL2,KBA05_ZUL3,KBA05_ZUL4,KBA13_ALTERHALTER_30,KBA13_ALTERHALTER_45,KBA13_ALTERHALTER_60,KBA13_ALTERHALTER_61,KBA13_ANTG1,KBA13_ANTG2,KBA13_ANTG3,KBA13_ANTG4,KBA13_ANZAHL_PKW,KBA13_AUDI,KBA13_AUTOQUOTE,KBA13_BAUMAX,KBA13_BJ_1999,KBA13_BJ_2000,KBA13_BJ_2004,KBA13_BJ_2006,KBA13_BJ_2008,KBA13_BJ_2009,KBA13_BMW,KBA13_CCM_0_1400,KBA13_CCM_1000,KBA13_CCM_1200,KBA13_CCM_1400,KBA13_CCM_1401_2500,KBA13_CCM_1500,KBA13_CCM_1600,KBA13_CCM_1800,KBA13_CCM_2000,KBA13_CCM_2500,KBA13_CCM_2501,KBA13_CCM_3000,KBA13_CCM_3001,KBA13_FAB_ASIEN,KBA13_FAB_SONSTIGE,KBA13_FIAT,KBA13_FORD,KBA13_GBZ,KBA13_HALTER_20,KBA13_HALTER_25,KBA13_HALTER_30,KBA13_HALTER_35,KBA13_HALTER_40,KBA13_HALTER_45,KBA13_HALTER_50,KBA13_HALTER_55,KBA13_HALTER_60,KBA13_HALTER_65,KBA13_HALTER_66,KBA13_HERST_ASIEN,KBA13_HERST_AUDI_VW,KBA13_HERST_BMW_BENZ,KBA13_HERST_EUROPA,KBA13_HERST_FORD_OPEL,KBA13_HERST_SONST,KBA13_HHZ,KBA13_KMH_0_140,KBA13_KMH_110,KBA13_KMH_140,KBA13_KMH_140_210,KBA13_KMH_180,KBA13_KMH_210,KBA13_KMH_211,KBA13_KMH_250,KBA13_KMH_251,KBA13_KRSAQUOT,KBA13_KRSHERST_AUDI_VW,KBA13_KRSHERST_BMW_BENZ,KBA13_KRSHERST_FORD_OPEL,KBA13_KRSSEG_KLEIN,KBA13_KRSSEG_OBER,KBA13_KRSSEG_VAN,KBA13_KRSZUL_NEU,KBA13_KW_0_60,KBA13_KW_110,KBA13_KW_120,KBA13_KW_121,KBA13_KW_30,KBA13_KW_40,KBA13_KW_50,KBA13_KW_60,KBA13_KW_61_120,KBA13_KW_70,KBA13_KW_80,KBA13_KW_90,KBA13_MAZDA,KBA13_MERCEDES,KBA13_MOTOR,KBA13_NISSAN,KBA13_OPEL,KBA13_PEUGEOT,KBA13_RENAULT,KBA13_SEG_GELAENDEWAGEN,KBA13_SEG_GROSSRAUMVANS,KBA13_SEG_KLEINST,KBA13_SEG_KLEINWAGEN,KBA13_SEG_KOMPAKTKLASSE,KBA13_SEG_MINIVANS,KBA13_SEG_MINIWAGEN,KBA13_SEG_MITTELKLASSE,KBA13_SEG_OBEREMITTELKLASSE,KBA13_SEG_OBERKLASSE,KBA13_SEG_SONSTIGE,KBA13_SEG_SPORTWAGEN,KBA13_SEG_UTILITIES,KBA13_SEG_VAN,KBA13_SEG_WOHNMOBILE,KBA13_SITZE_4,KBA13_SITZE_5,KBA13_SITZE_6,KBA13_TOYOTA,KBA13_VORB_0,KBA13_VORB_1,KBA13_VORB_1_2,KBA13_VORB_2,KBA13_VORB_3,KBA13_VW,KK_KUNDENTYP,KKK,KOMBIALTER,KONSUMNAEHE,KONSUMZELLE,LP_FAMILIE_FEIN,LP_FAMILIE_GROB,LP_LEBENSPHASE_FEIN,LP_LEBENSPHASE_GROB,LP_STATUS_FEIN,LP_STATUS_GROB,MIN_GEBAEUDEJAHR,MOBI_RASTER,MOBI_REGIO,NATIONALITAET_KZ,ONLINE_AFFINITAET,ORTSGR_KLS9,OST_WEST_KZ,PLZ8_ANTG1,PLZ8_ANTG2,PLZ8_ANTG3,PLZ8_ANTG4,PLZ8_BAUMAX,PLZ8_GBZ,PLZ8_HHZ,PRAEGENDE_JUGENDJAHRE,REGIOTYP,RELAT_AB,RETOURTYP_BK_S,RT_KEIN_ANREIZ,RT_SCHNAEPPCHEN,RT_UEBERGROESSE,SEMIO_DOM,SEMIO_ERL,SEMIO_FAM,SEMIO_KAEM,SEMIO_KRIT,SEMIO_KULT,SEMIO_LUST,SEMIO_MAT,SEMIO_PFLICHT,SEMIO_RAT,SEMIO_REL,SEMIO_SOZ,SEMIO_TRADV,SEMIO_VERT,SHOPPER_TYP,SOHO_KZ,STRUKTURTYP,TITEL_KZ,UMFELD_ALT,UMFELD_JUNG,UNGLEICHENN_FLAG,VERDICHTUNGSRAUM,VERS_TYP,VHA,VHN,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,910215,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,5.0,1.0,1.0,5.0,5.0,5.0,5.0,0,0,10,0,0,0,10,10,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,10,10,10,NaN,0,0,0,NaN,9,0,0,NaN,NaN,0,0,0,0,0,0,NaN,0,0,0,10,0,10,10,NaN,0,0,0,0,10,10,10,NaN,0,0,0,10,10,10,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,5,3,3,4,5,3,4,NaN,NaN,NaN,0,NaN,10.0,0,-1,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN,NaN,2.0,2.0,15.0,4.0,1.0,1.0,NaN,NaN,NaN,0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,5.0,1.0,4.0,1.0,6,3,6,6,7,3,5,5,5,4,7,2,3,1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2
1,910220,-1,9.0,0.0,NaN,NaN,NaN,NaN,21.0,11.0,0.0,0.0,2.0,12.0,0.0,3.0,6.0,8A,8,51,5.0,1.0,5.0,5.0,2.0,3.0,1.0,1.0,0,0,10,0,0,0,10,10,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,10,10,10,NaN,0,0,0,NaN,9,0,0,NaN,NaN,0,0,0,0,0,0,NaN,0,0,0,10,0,10,10,NaN,0,0,0,0,10,10,10,NaN,0,0,0,10,10,10,NaN,0,0,0,1.0,1992-02-10 00:00:00,2004.0,3.0,NaN,5,5,1,5,4,2,1,2.0,8.0,3.0,1996,22.0,10.0,0,3,0.0,6.0,8.0,3.0,4.0,1.0,4.0,0.0,0.0,0.0,0.0,2.0,1.0,5.0,1.0,5.0,1.0,4.0,2.0,4.0,1.0,5.0,5.0,2.0,2.0,0.0,4.0,1.0,5.0,4.0,2.0,1.0,2.0,1.0,2.0,1.0,3.0,4.0,2.0,1.0,2.0,4.0,3.0,3.0,2.0,2.0,0.0,0.0,1.0,3.0,0.0,0.0,4.0,1.0,2.0,2.0,2.0,1.0,3.0,3.0,0.0,1.0,1.0,5.0,5.0,1.0,0.0,2.0,3.0,2.0,3.0,4.0,2.0,4.0,2.0,1.0,963.0,4.0,2.0,2.0,3.0,3.0,3.0,3.0,3.0,2.0,3.0,2.0,0.0,0.0,4.0,3.0,1.0,2.0,2.0,5.0,3.0,3.0,0.0,5.0,2.0,3.0,4.0,2.0,4.0,3.0,3.0,3.0,3.0,3.0,2.0,2.0,3.0,3.0,3.0,4.0,1.0,4.0,4.0,4.0,2.0,3.0,5.0,3.0,1.0,3.0,3.0,2.0,4.0,3.0,3.0,1.0,2.0,4.0,3.0,3.0,2.0,2.0,2.0,1.0,3.0,4.0,4.0,3.0,1.0,2.0,4.0,0.0,3.0,1.0,2.0,3.0,2.0,4.0,3.0,2.0,3.0,4.0,3.0,2.0,3.0,2.0,2.0,5.0,4.0,2.0,3.0,3.0,3.0,2.0,3.0,3.0,4.0,2.0,3.0,3.0,4.0,2.0,3.0,3.0,3.0,3.0,3.0,4.0,NaN,2.0,1,1.0,1.0,5.0,3.0,21.0,6.0,2.0,1.0,1992.0,1.0,1.0,1,3.0,5.0,W,2.0,3.0,2.0,1.0,1.0,4.0,5.0,14,3.0,4.0,1.0,5.0,3.0,5.0,7,2,4,4,4,3,2,3,7,6,4,5,6,1,3,1.0,2.0,0.0,3.0,3.0,1.0,0.0,2,0.0,4.0,8.0,11.0,10.0,3.0,9.0,4.0,5,2,1
2,910225,-1,9.0,17.0,NaN,NaN,NaN,NaN,17.0,10.0,0.0,0.0,1.0,7.0,0.0,3.0,2.0,4C,4,24,3.0,2.0,4.0,4.0,1.0,3.0,2.0,2.0,0,0,10,0,0,0,10,10,0.0,0,0,0,6,0,0,0,0,0,0,0,0,0,10,10,10,0.0,0,0,0,9.0,8,6,0,D19_UNBEKANNT,0.0,0,0,0,0,0,6,0.0,6,0,0,10,0,10,10,0.0,0,0,0,0,10,10,10,0.0,0,0,0,10,10,10,0.0,0,7,0,1.0,1992-02-12 00:00:00,2000.0,4.0,14.0,2,5,1,4,3,1,1,4.0,1.0,4.0,1979,22.0,10.0,1,3,0.0,4.0,4.0,2.0,3.0,3.0,3.0,0.0,1.0,3.0,1.0,0.0,3.0,0.0,5.0,2.0,3.0,0.0,0.0,3.0,3.0,2.0,2.0,3.0,2.0,5.0,4.0,3.0,3.0,2.0,3.0,3.0,2.0,2.0,3.0,3.0,2.0,2.0,3.0,4.0,5.0,1.0,1.0,0.0,2.0,5.0,1.0,1.0,4.0,1.0,1.0,2.0,1.0,5.0,3.0,3.0,1.0,0.0,0.0,0.0,1.0,4.0,2.0,3.0,2.0,3.0,4.0,4.0,3.0,2.0,3.0,3.0,2.0,3.0,1.0,0.0,712.0,3.0,3.0,1.0,2.0,2.0,4.0,5.0,3.0,1.0,4.0,1.0,1.0,2.0,2.0,3.0,4.0,3.0,4.0,3.0,3.0,4.0,3.0,5.0,4.0,3.0,3.0,4.0,4.0,3.0,3.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,4.0,3.0,3.0,2.0,4.0,3.0,3.0,3.0,4.0,1.0,1.0,1.0,2.0,2.0,4.0,4.0,4.0,1.0,3.0,3.0,3.0,2.0,2.0,3.0,2.0,1.0,1.0,3.0,4.0,4.0,1.0,1.0,2.0,1.0,5.0,4.0,4.0,2.0,3.0,4.0,3.0,3.0,2.0,3.0,3.0,5.0,3.0,3.0,3.0,1.0,3.0,3.0,2.0,4.0,3.0,2.0,4.0,5.0,3.0,2.0,4.0,2.0,3.0,3.0,3.0,4.0,4.0,2.0,2.0,2.0,NaN,2.0,2,5.0,0.0,1.0,1.0,3.0,1.0,3.0,2.0,1992.0,2.0,3.0,1,2.0,5.0,W,3.0,3.0,1.0,0.0,1.0,4.0,4.0,15,2.0,2.0,3.0,5.0,4.0,5.0,7,6,1,7,7,3,4,3,3,4,3,4,3,4,2,0.0,3.0,0.0,2.0,5.0,0.0,1.0,1,0.0,2.0,9.0,9.0,6.0,3.0,9.0,2.0,5,2,3
3,910226,2,1.0,13.0,NaN,NaN,NaN,NaN,13.0,1.0,0.0,0.0,0.0,2.0,0.0,2.0,4.0,2A,2,12,2.0,3.0,2.0,2.0,4.0,4.0,5.0,3.0,0,0,10,0,0,0,10,10,0.0,0,0,0,0,0,6,0,0,0,0,0,0,0,10,10,10,0.0,0,0,0,9.0,8,0,0,D19_UNBEKANNT,0.0,0,0,6,6,0,6,0.0,6,0,0,10,0,10,10,0.0,0,0,0,0,10,10,10,0.0,0,0,0,10,10,10,0.0,0,0,0,1.0,1997-04-21 00:00:00,1998.0,2.0,31.0,2,2,4,2,1,5,6,4.0,1.0,4.0,1957,40.0,1.0,0,2,NaN,1.0,6.0,2.0,5.0,3.0,0.0,1.0,4.0,1.0,0.0,0.0,4.0,1.0,2.0,3.0,5.0,1.0,3.0,4.0,4.0,4.0,3.0,3.0,2.0,3.0,3.0,4.0,4.0,2.0,3.0,1.0,2.0,2.0,3.0,3.0,4.0,1.0,3.0,4.0,3.0,2.0,2.0,2.0,4.0,4.0,2.0,1.0,3.0,3.0,3.0,1.0,1.0,2.0,5.0,3.0,2.0,0.0,0.0,0.0,1.0,2.0,5.0,1.0,3.0,3.0,3.0,3.0,2.0,3.0,5.0,2.0,2.0,3.0,1.0,0.0,596.0,5.0,3.0,1.0,2.0,2.0,3.0,3.0,4.0,3.0,4.0,3.0,4.0,2.0,3.0,2.0,3.0,3.0,2.0,3.0,4.0,4.0,3.0,5.0,3.0,2.0,3.0,3.0,4.0,2.0,2.0,2.0,3.0,3.0,3.0,5.0,5.0,4.0,3.0,2.0,3.0,4.0,3.0,2.0,2.0,2.0,3.0,5.0,1.0,5.0,1.0,2.0,2.0,5.0,5.0,1.0,3.0,4.0,4.0,2.0,2.0,2.0,2.0,2.0,3.0,1.0,3.0,5.0,1.0,4.0,3.0,2.0,2.0,3.0,2.0,3.0,2.0,3.0,3.0,5.0,2.0,3.0,2.0,3.0,4.0,3.0,3.0,4.0,4.0,3.0,4.0,3.0,1.0,2.0,3.0,2.0,4.0,2.0,3.0,3.0,3.0,3.0,4.0,3.0,2.0,3.0,2.0,4.0,NaN,0.0,4,4.0,0.0,0.0,0.0,0.0,0.0,9.0,4.0,1997.0,4.0,4.0,1,1.0,3.0,W,2.0,2.0,2.0,0.0,1.0,4.0,3.0,8,0.0,3.0,2.0,3.0,2.0,3.0,4,7,1,5,4,4,4,1,4,3,2,5,4,4,1,0.0,1.0,0.0,4.0,5.0,0.0,0.0,1,1.0,0.0,7.0,10.0,11.0,NaN,9.0,7.0,3,2,4
4,910241,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,3.0,0.0,0.0,4.0,3.0,0.0,4.0,2.0,6B,6,43,5.0,3.0,3.0,3.0,3.0,4.0,3.0,3.0,3,5,5,1,2,0,10,5,10.0,6,6,1,6,0,6,0,1,5,0,0,6,6,1,6,1,10.0,0,5,0,1.0,1,0,0,D19_SCHUHE,0.0,0,0,0,0,1,4,0.0,5,0,1,6,6,8,10,0.0,5,0,6,6,1,9,1,10.0,2,1,3,2,7,10,0.0,3,0,0,1.0,1992-02-12 00:00:00,2004.0,5.0,NaN,1,2,4,3,3,4,5,5.0,1.0,5.0,1963,21.0,5.0,0,3,0.0,5.0,1.0,0.0,4.0,4.0,3.0,0.0,1.0,4.0,1.0,0.0,3.0,0.0,4.0,1.0,4.0,2.0,1.0,5.0,3.0,2.0,2.0,4.0,1.0,4.0,3.0,3.0,3.0,3.0,3.0,2.0,2.0,3.0,2.0,3.0,2.0,3.0,2.0,2.0,3.0,1.0,1.0,3.0,1.0,1.0,4.0,2.0,3.0,4.0,1.0,3.0,3.0,4.0,1.0,3.0,2.0,0.0,1.0,0.0,2.0,5.0,1.0,5.0,3.0,4.0,2.0,2.0,3.0,3.0,3.0,3.0,1.0,4.0,2.0,1.0,435.0,4.0,3.0,2.0,3.0,3.0,3.0,2.0,0.0,5.0,2.0,3.0,5.0,1.0,2.0,1.0,4.0,1.0,3.0,3.0,3.0,5.0,5.0,5.0,3.0,2.0,3.0,4.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,4.0,4.0,2.0,3.0,3.0,3.0,4.0,3.0,4.0,3.0,2.0,3.0,5.0,1.0,5.0,1.0,1.0,3.0,5.0,5.0,1.0,3.0,4.0,3.0,2.0,2.0,2.0,1.0,3.0,3.0,3.0,1.0,5.0,1.0,5.0,3.0,0.0,2.0,2.0,1.0,3.0,3.0,3.0,4.0,4.0,3.0,3.0,4.0,3.0,3.0,3.0,3.0,3.0,2.0,3.0,2.0,4.0,4.0,5.0,4.0,2.0,2.0,5.0,3.0,3.0,3.0,3.0,4.0,2.0,2.0,3.0,4.0,3.0,1.0,3.0,3,4.0,0.0,10.0,5.0,32.0,10.0,3.0,2.0,1992.0,1.0,3.0,1,5.0,6.0,W,2.0,4.0,2.0,1.0,2.0,3.0,3.0,8,5.0,5.0,5.0,3.0,5.0,5.0,2,4,4,2,3,6,4,2,4,2,4,6,2,7,2,0.0,3.0,0.0,4.0,3.0,0.0,1.0,2,0.0,2.0,3.0,5.0,4.0,2.0,9.0,3.0,4,1,3

In [ ]:
df_customers.head(5)

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,ANZ_HH_TITEL,ANZ_KINDER,ANZ_PERSONEN,ANZ_STATISTISCHE_HAUSHALTE,ANZ_TITEL,ARBEIT,BALLRAUM,CAMEO_DEU_2015,CAMEO_DEUG_2015,CAMEO_INTL_2015,CJT_GESAMTTYP,CJT_KATALOGNUTZER,CJT_TYP_1,CJT_TYP_2,CJT_TYP_3,CJT_TYP_4,CJT_TYP_5,CJT_TYP_6,D19_BANKEN_ANZ_12,D19_BANKEN_ANZ_24,D19_BANKEN_DATUM,D19_BANKEN_DIREKT,D19_BANKEN_GROSS,D19_BANKEN_LOKAL,D19_BANKEN_OFFLINE_DATUM,D19_BANKEN_ONLINE_DATUM,D19_BANKEN_ONLINE_QUOTE_12,D19_BANKEN_REST,D19_BEKLEIDUNG_GEH,D19_BEKLEIDUNG_REST,D19_BILDUNG,D19_BIO_OEKO,D19_BUCH_CD,D19_DIGIT_SERV,D19_DROGERIEARTIKEL,D19_ENERGIE,D19_FREIZEIT,D19_GARTEN,D19_GESAMT_ANZ_12,D19_GESAMT_ANZ_24,D19_GESAMT_DATUM,D19_GESAMT_OFFLINE_DATUM,D19_GESAMT_ONLINE_DATUM,D19_GESAMT_ONLINE_QUOTE_12,D19_HANDWERK,D19_HAUS_DEKO,D19_KINDERARTIKEL,D19_KONSUMTYP,D19_KONSUMTYP_MAX,D19_KOSMETIK,D19_LEBENSMITTEL,D19_LETZTER_KAUF_BRANCHE,D19_LOTTO,D19_NAHRUNGSERGAENZUNG,D19_RATGEBER,D19_REISEN,D19_SAMMELARTIKEL,D19_SCHUHE,D19_SONSTIGE,D19_SOZIALES,D19_TECHNIK,D19_TELKO_ANZ_12,D19_TELKO_ANZ_24,D19_TELKO_DATUM,D19_TELKO_MOBILE,D19_TELKO_OFFLINE_DATUM,D19_TELKO_ONLINE_DATUM,D19_TELKO_ONLINE_QUOTE_12,D19_TELKO_REST,D19_TIERARTIKEL,D19_VERSAND_ANZ_12,D19_VERSAND_ANZ_24,D19_VERSAND_DATUM,D19_VERSAND_OFFLINE_DATUM,D19_VERSAND_ONLINE_DATUM,D19_VERSAND_ONLINE_QUOTE_12,D19_VERSAND_REST,D19_VERSI_ANZ_12,D19_VERSI_ANZ_24,D19_VERSI_DATUM,D19_VERSI_OFFLINE_DATUM,D19_VERSI_ONLINE_DATUM,D19_VERSI_ONLINE_QUOTE_12,D19_VERSICHERUNGEN,D19_VOLLSORTIMENT,D19_WEIN_FEINKOST,DSL_FLAG,EINGEFUEGT_AM,EINGEZOGENAM_HH_JAHR,EWDICHTE,EXTSEL992,FINANZ_ANLEGER,FINANZ_HAUSBAUER,FINANZ_MINIMALIST,FINANZ_SPARER,FINANZ_UNAUFFAELLIGER,FINANZ_VORSORGER,FINANZTYP,FIRMENDICHTE,GEBAEUDETYP,GEBAEUDETYP_RASTER,GEBURTSJAHR,GEMEINDETYP,GFK_URLAUBERTYP,GREEN_AVANTGARDE,HEALTH_TYP,HH_DELTA_FLAG,HH_EINKOMMEN_SCORE,INNENSTADT,KBA05_ALTER1,KBA05_ALTER2,KBA05_ALTER3,KBA05_ALTER4,KBA05_ANHANG,KBA05_ANTG1,KBA05_ANTG2,KBA05_ANTG3,KBA05_ANTG4,KBA05_AUTOQUOT,KBA05_BAUMAX,KBA05_CCM1,KBA05_CCM2,KBA05_CCM3,KBA05_CCM4,KBA05_DIESEL,KBA05_FRAU,KBA05_GBZ,KBA05_HERST1,KBA05_HERST2,KBA05_HERST3,KBA05_HERST4,KBA05_HERST5,KBA05_HERSTTEMP,KBA05_KRSAQUOT,KBA05_KRSHERST1,KBA05_KRSHERST2,KBA05_KRSHERST3,KBA05_KRSKLEIN,KBA05_KRSOBER,KBA05_KRSVAN,KBA05_KRSZUL,KBA05_KW1,KBA05_KW2,KBA05_KW3,KBA05_MAXAH,KBA05_MAXBJ,KBA05_MAXHERST,KBA05_MAXSEG,KBA05_MAXVORB,KBA05_MOD1,KBA05_MOD2,KBA05_MOD3,KBA05_MOD4,KBA05_MOD8,KBA05_MODTEMP,KBA05_MOTOR,KBA05_MOTRAD,KBA05_SEG1,KBA05_SEG10,KBA05_SEG2,KBA05_SEG3,KBA05_SEG4,KBA05_SEG5,KBA05_SEG6,KBA05_SEG7,KBA05_SEG8,KBA05_SEG9,KBA05_VORB0,KBA05_VORB1,KBA05_VORB2,KBA05_ZUL1,KBA05_ZUL2,KBA05_ZUL3,KBA05_ZUL4,KBA13_ALTERHALTER_30,KBA13_ALTERHALTER_45,KBA13_ALTERHALTER_60,KBA13_ALTERHALTER_61,KBA13_ANTG1,KBA13_ANTG2,KBA13_ANTG3,KBA13_ANTG4,KBA13_ANZAHL_PKW,KBA13_AUDI,KBA13_AUTOQUOTE,KBA13_BAUMAX,KBA13_BJ_1999,KBA13_BJ_2000,KBA13_BJ_2004,KBA13_BJ_2006,KBA13_BJ_2008,KBA13_BJ_2009,KBA13_BMW,KBA13_CCM_0_1400,KBA13_CCM_1000,KBA13_CCM_1200,KBA13_CCM_1400,KBA13_CCM_1401_2500,KBA13_CCM_1500,KBA13_CCM_1600,KBA13_CCM_1800,KBA13_CCM_2000,KBA13_CCM_2500,KBA13_CCM_2501,KBA13_CCM_3000,KBA13_CCM_3001,KBA13_FAB_ASIEN,KBA13_FAB_SONSTIGE,KBA13_FIAT,KBA13_FORD,KBA13_GBZ,KBA13_HALTER_20,KBA13_HALTER_25,KBA13_HALTER_30,KBA13_HALTER_35,KBA13_HALTER_40,KBA13_HALTER_45,KBA13_HALTER_50,KBA13_HALTER_55,KBA13_HALTER_60,KBA13_HALTER_65,KBA13_HALTER_66,KBA13_HERST_ASIEN,KBA13_HERST_AUDI_VW,KBA13_HERST_BMW_BENZ,KBA13_HERST_EUROPA,KBA13_HERST_FORD_OPEL,KBA13_HERST_SONST,KBA13_HHZ,KBA13_KMH_0_140,KBA13_KMH_110,KBA13_KMH_140,KBA13_KMH_140_210,KBA13_KMH_180,KBA13_KMH_210,KBA13_KMH_211,KBA13_KMH_250,KBA13_KMH_251,KBA13_KRSAQUOT,KBA13_KRSHERST_AUDI_VW,KBA13_KRSHERST_BMW_BENZ,KBA13_KRSHERST_FORD_OPEL,KBA13_KRSSEG_KLEIN,KBA13_KRSSEG_OBER,KBA13_KRSSEG_VAN,KBA13_KRSZUL_NEU,KBA13_KW_0_60,KBA13_KW_110,KBA13_KW_120,KBA13_KW_121,KBA13_KW_30,KBA13_KW_40,KBA13_KW_50,KBA13_KW_60,KBA13_KW_61_120,KBA13_KW_70,KBA13_KW_80,KBA13_KW_90,KBA13_MAZDA,KBA13_MERCEDES,KBA13_MOTOR,KBA13_NISSAN,KBA13_OPEL,KBA13_PEUGEOT,KBA13_RENAULT,KBA13_SEG_GELAENDEWAGEN,KBA13_SEG_GROSSRAUMVANS,KBA13_SEG_KLEINST,KBA13_SEG_KLEINWAGEN,KBA13_SEG_KOMPAKTKLASSE,KBA13_SEG_MINIVANS,KBA13_SEG_MINIWAGEN,KBA13_SEG_MITTELKLASSE,KBA13_SEG_OBEREMITTELKLASSE,KBA13_SEG_OBERKLASSE,KBA13_SEG_SONSTIGE,KBA13_SEG_SPORTWAGEN,KBA13_SEG_UTILITIES,KBA13_SEG_VAN,KBA13_SEG_WOHNMOBILE,KBA13_SITZE_4,KBA13_SITZE_5,KBA13_SITZE_6,KBA13_TOYOTA,KBA13_VORB_0,KBA13_VORB_1,KBA13_VORB_1_2,KBA13_VORB_2,KBA13_VORB_3,KBA13_VW,KK_KUNDENTYP,KKK,KOMBIALTER,KONSUMNAEHE,KONSUMZELLE,LP_FAMILIE_FEIN,LP_FAMILIE_GROB,LP_LEBENSPHASE_FEIN,LP_LEBENSPHASE_GROB,LP_STATUS_FEIN,LP_STATUS_GROB,MIN_GEBAEUDEJAHR,MOBI_RASTER,MOBI_REGIO,NATIONALITAET_KZ,ONLINE_AFFINITAET,ORTSGR_KLS9,OST_WEST_KZ,PLZ8_ANTG1,PLZ8_ANTG2,PLZ8_ANTG3,PLZ8_ANTG4,PLZ8_BAUMAX,PLZ8_GBZ,PLZ8_HHZ,PRAEGENDE_JUGENDJAHRE,REGIOTYP,RELAT_AB,RETOURTYP_BK_S,RT_KEIN_ANREIZ,RT_SCHNAEPPCHEN,RT_UEBERGROESSE,SEMIO_DOM,SEMIO_ERL,SEMIO_FAM,SEMIO_KAEM,SEMIO_KRIT,SEMIO_KULT,SEMIO_LUST,SEMIO_MAT,SEMIO_PFLICHT,SEMIO_RAT,SEMIO_REL,SEMIO_SOZ,SEMIO_TRADV,SEMIO_VERT,SHOPPER_TYP,SOHO_KZ,STRUKTURTYP,TITEL_KZ,UMFELD_ALT,UMFELD_JUNG,UNGLEICHENN_FLAG,VERDICHTUNGSRAUM,VERS_TYP,VHA,VHN,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,PRODUCT_GROUP,CUSTOMER_GROUP,ONLINE_PURCHASE,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,9626,2,1.0,10.0,NaN,NaN,NaN,NaN,10.0,1.0,0.0,0.0,2.0,1.0,0.0,1.0,3.0,1A,1,13,5.0,4.0,1.0,1.0,5.0,5.0,5.0,5.0,0,0,10,0,0,0,10,10,0.0,0,0,0,0,0,6,0,0,0,0,0,0,0,9,9,10,0.0,0,6,0,3.0,2,0,6,D19_UNBEKANNT,0.0,0,0,0,6,0,6,1.0,6,0,0,10,0,10,10,0.0,0,0,0,0,9,9,10,0.0,0,0,0,10,10,10,0.0,0,0,0,1.0,1992-02-12 00:00:00,1994.0,2.0,40.0,1,2,5,1,2,5,2,4.0,1.0,4.0,0,50.0,4.0,1,1,0.0,1.0,4.0,2.0,2.0,4.0,4.0,1.0,2.0,2.0,0.0,0.0,5.0,0.0,3.0,3.0,3.0,1.0,1.0,4.0,4.0,4.0,3.0,3.0,2.0,2.0,2.0,4.0,4.0,3.0,3.0,2.0,3.0,3.0,2.0,3.0,3.0,3.0,5.0,2.0,2.0,3.0,2.0,2.0,4.0,3.0,4.0,2.0,2.0,4.0,1.0,1.0,2.0,3.0,2.0,3.0,3.0,1.0,0.0,1.0,2.0,4.0,3.0,2.0,3.0,4.0,2.0,3.0,1.0,2.0,5.0,3.0,3.0,3.0,1.0,0.0,1201.0,4.0,4.0,1.0,3.0,2.0,3.0,3.0,4.0,3.0,5.0,2.0,3.0,2.0,3.0,4.0,4.0,2.0,3.0,4.0,4.0,0.0,3.0,3.0,2.0,3.0,3.0,3.0,5.0,1.0,1.0,1.0,3.0,3.0,2.0,4.0,5.0,5.0,4.0,3.0,2.0,4.0,4.0,2.0,3.0,3.0,5.0,3.0,2.0,4.0,3.0,2.0,4.0,3.0,3.0,1.0,3.0,4.0,3.0,3.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,3.0,2.0,3.0,2.0,3.0,3.0,3.0,2.0,3.0,3.0,3.0,4.0,3.0,3.0,2.0,2.0,3.0,5.0,2.0,2.0,3.0,3.0,1.0,3.0,4.0,3.0,4.0,4.0,4.0,4.0,4.0,3.0,1.0,5.0,2.0,4.0,3.0,3.0,3.0,1.0,4.0,NaN,1.0,4,5.0,0.0,2.0,2.0,20.0,5.0,10.0,5.0,1992.0,3.0,4.0,1,3.0,2.0,W,3.0,3.0,1.0,0.0,1.0,5.0,5.0,4,1.0,1.0,5.0,1.0,5.0,3.0,1,3,5,1,3,4,7,6,2,1,2,6,1,6,3,0.0,3.0,0.0,4.0,4.0,0.0,8.0,1,0.0,3.0,5.0,3.0,2.0,6.0,9.0,7.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
1,9628,-1,9.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,6,0,5,0,10,10,0.0,6,0,0,0,0,0,0,6,0,0,0,0,1,6,10,9,0.0,0,0,0,5.0,3,0,0,D19_BANKEN_GROSS,0.0,0,0,0,0,0,0,0.0,0,0,0,10,0,10,10,0.0,0,0,0,0,9,10,9,0.0,0,0,0,10,10,10,0.0,0,6,0,NaN,NaN,2007.0,NaN,29.0,1,2,5,1,3,5,2,NaN,NaN,NaN,0,NaN,NaN,0,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,3,3,6,2,3,4,5,6,4,1,2,3,1,7,3,0.0,NaN,0.0,NaN,NaN,0.0,NaN,1,0.0,NaN,6.0,6.0,3.0,0.0,9.0,NaN,3,FOOD,SINGLE_BUYER,0,1,4
2,143872,-1,1.0,6.0,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,1.0,1.0,0.0,3.0,7.0,5D,5,34,2.0,5.0,2.0,2.0,5.0,5.0,5.0,5.0,0,0,10,0,0,0,10,10,0.0,0,0,0,6,0,0,0,0,0,0,0,0,0,10,10,10,0.0,0,0,0,3.0,2,0,0,D19_UNBEKANNT,7.0,0,0,6,6,0,6,1.0,0,0,0,10,0,10,10,0.0,0,0,0,0,10,10,10,0.0,0,0,0,10,10,10,0.0,0,0,0,1.0,1992-02-10 00:00:00,1996.0,4.0,26.0,1,4,5,1,4,5,2,2.0,8.0,3.0,0,22.0,3.0,1,2,0.0,1.0,1.0,2.0,4.0,2.0,3.0,3.0,2.0,2.0,0.0,0.0,4.0,0.0,2.0,2.0,5.0,2.0,4.0,4.0,3.0,4.0,4.0,1.0,2.0,3.0,2.0,4.0,4.0,4.0,2.0,2.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,2.0,2.0,2.0,1.0,2.0,3.0,4.0,3.0,1.0,3.0,4.0,1.0,1.0,4.0,2.0,4.0,3.0,1.0,0.0,3.0,2.0,1.0,4.0,3.0,2.0,2.0,4.0,3.0,2.0,3.0,3.0,2.0,4.0,1.0,4.0,3.0,1.0,433.0,4.0,2.0,3.0,4.0,3.0,1.0,2.0,0.0,5.0,4.0,4.0,5.0,3.0,4.0,1.0,1.0,2.0,2.0,3.0,2.0,4.0,5.0,3.0,3.0,3.0,3.0,3.0,2.0,3.0,3.0,4.0,4.0,2.0,2.0,2.0,3.0,3.0,3.0,4.0,3.0,3.0,3.0,4.0,2.0,3.0,3.0,4.0,1.0,5.0,2.0,3.0,2.0,3.0,3.0,1.0,3.0,4.0,3.0,1.0,2.0,1.0,1.0,3.0,4.0,2.0,3.0,3.0,3.0,3.0,4.0,4.0,1.0,2.0,1.0,0.0,3.0,3.0,3.0,3.0,1.0,5.0,3.0,4.0,3.0,4.0,3.0,3.0,2.0,5.0,2.0,2.0,1.0,5.0,3.0,3.0,3.0,5.0,3.0,3.0,4.0,3.0,4.0,2.0,2.0,3.0,4.0,3.0,NaN,3.0,4,1.0,1.0,1.0,1.0,13.0,3.0,10.0,5.0,1992.0,1.0,3.0,1,1.0,5.0,W,2.0,3.0,3.0,1.0,3.0,2.0,3.0,4,7.0,3.0,5.0,1.0,5.0,1.0,5,7,2,6,7,1,7,3,4,2,1,2,1,3,1,0.0,3.0,0.0,1.0,5.0,0.0,0.0,2,0.0,4.0,10.0,13.0,11.0,6.0,9.0,2.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,4
3,143873,1,1.0,8.0,NaN,NaN,NaN,NaN,8.0,0.0,NaN,0.0,0.0,1.0,0.0,1.0,7.0,4C,4,24,2.0,5.0,1.0,1.0,5.0,5.0,5.0,5.0,0,0,10,0,0,0,10,10,0.0,0,0,0,0,0,6,0,0,0,0,0,0,1,6,6,10,0.0,0,0,0,3.0,2,0,0,D19_NAHRUNGSERGAENZUNG,0.0,5,0,0,0,0,0,1.0,0,0,0,10,0,10,10,0.0,0,0,0,1,6,6,10,0.0,0,0,0,9,10,10,0.0,6,6,0,1.0,1992-02-10 00:00:00,1997.0,1.0,10.0,2,2,5,1,1,5,6,4.0,2.0,4.0,0,40.0,10.0,0,2,NaN,4.0,7.0,2.0,3.0,3.0,3.0,3.0,3.0,0.0,0.0,0.0,3.0,1.0,3.0,4.0,2.0,0.0,3.0,2.0,4.0,3.0,1.0,3.0,5.0,3.0,3.0,3.0,4.0,2.0,2.0,2.0,1.0,2.0,3.0,3.0,4.0,0.0,3.0,4.0,4.0,1.0,3.0,0.0,3.0,5.0,0.0,1.0,4.0,2.0,1.0,3.0,2.0,4.0,3.0,4.0,0.0,0.0,0.0,2.0,0.0,3.0,3.0,2.0,2.0,3.0,4.0,4.0,3.0,4.0,3.0,2.0,2.0,2.0,0.0,0.0,755.0,2.0,4.0,1.0,3.0,2.0,3.0,4.0,3.0,2.0,4.0,2.0,2.0,0.0,2.0,4.0,3.0,4.0,3.0,4.0,3.0,3.0,3.0,3.0,4.0,3.0,1.0,3.0,5.0,4.0,4.0,3.0,4.0,4.0,4.0,4.0,3.0,3.0,1.0,2.0,4.0,1.0,4.0,5.0,2.0,3.0,3.0,3.0,2.0,3.0,3.0,3.0,4.0,3.0,3.0,1.0,4.0,3.0,5.0,1.0,1.0,3.0,3.0,1.0,2.0,3.0,3.0,3.0,2.0,2.0,2.0,2.0,4.0,2.0,5.0,2.0,5.0,4.0,3.0,2.0,1.0,5.0,2.0,5.0,3.0,1.0,2.0,3.0,4.0,2.0,3.0,2.0,0.0,4.0,4.0,3.0,4.0,2.0,3.0,3.0,3.0,5.0,4.0,3.0,2.0,2.0,3.0,1.0,NaN,3.0,4,2.0,0.0,0.0,0.0,0.0,0.0,9.0,4.0,1992.0,3.0,4.0,1,2.0,3.0,W,3.0,2.0,1.0,0.0,1.0,4.0,3.0,1,6.0,1.0,3.0,1.0,5.0,2.0,3,3,5,3,3,4,5,4,3,3,3,6,4,7,0,0.0,1.0,0.0,3.0,4.0,0.0,0.0,1,0.0,2.0,6.0,4.0,2.0,NaN,9.0,7.0,1,COSMETIC,MULTI_BUYER,0,1,4
4,143874,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,7.0,0.0,0.0,4.0,7.0,0.0,3.0,3.0,7B,7,41,6.0,4.0,3.0,3.0,3.0,4.0,3.0,3.0,1,2,3,5,0,3,10,7,0.0,0,0,6,0,0,2,0,4,0,6,0,3,5,1,8,1,10.0,0,6,0,1.0,4,0,5,D19_SCHUHE,0.0,0,6,0,6,3,6,1.0,6,0,1,7,5,10,9,0.0,6,0,3,5,1,8,1,10.0,3,0,0,10,10,10,0.0,0,0,0,1.0,1992-02-12 00:00:00,1997.0,4.0,NaN,4,2,3,1,5,4,2,2.0,3.0,3.0,1960,22.0,2.0,0,3,1.0,6.0,4.0,2.0,4.0,4.0,1.0,0.0,0.0,3.0,2.0,0.0,3.0,0.0,2.0,5.0,2.0,0.0,2.0,3.0,3.0,1.0,4.0,3.0,2.0,3.0,1.0,2.0,2.0,4.0,3.0,1.0,2.0,1.0,1.0,3.0,4.0,0.0,3.0,1.0,2.0,2.0,3.0,1.0,3.0,3.0,1.0,1.0,4.0,2.0,0.0,0.0,1.0,2.0,4.0,3.0,1.0,0.0,1.0,0.0,0.0,2.0,4.0,3.0,3.0,3.0,3.0,1.0,1.0,3.0,3.0,4.0,2.0,4.0,2.0,1.0,513.0,2.0,3.0,2.0,4.0,3.0,3.0,3.0,5.0,1.0,3.0,3.0,3.0,3.0,4.0,2.0,1.0,3.0,0.0,2.0,0.0,3.0,4.0,1.0,4.0,3.0,3.0,4.0,3.0,2.0,2.0,1.0,2.0,2.0,5.0,4.0,3.0,3.0,3.0,4.0,3.0,2.0,3.0,4.0,4.0,3.0,3.0,3.0,1.0,4.0,3.0,4.0,2.0,3.0,3.0,1.0,3.0,3.0,2.0,3.0,2.0,2.0,2.0,2.0,4.0,2.0,1.0,3.0,1.0,3.0,4.0,4.0,1.0,3.0,0.0,3.0,2.0,3.0,4.0,4.0,4.0,3.0,4.0,3.0,4.0,4.0,5.0,3.0,4.0,3.0,2.0,3.0,1.0,3.0,3.0,3.0,4.0,3.0,4.0,2.0,3.0,3.0,3.0,3.0,3.0,3.0,0.0,2.0,2.0,4.0,3,1.0,1.0,10.0,5.0,31.0,10.0,1.0,1.0,1992.0,1.0,3.0,1,5.0,5.0,W,2.0,4.0,2.0,1.0,2.0,3.0,3.0,8,7.0,1.0,5.0,4.0,3.0,5.0,5,4,5,2,3,5,6,6,5,5,4,4,4,5,1,0.0,3.0,0.0,2.0,4.0,0.0,1.0,2,0.0,4.0,3.0,5.0,4.0,2.0,9.0,3.0,1,FOOD,MULTI_BUYER,0,1,3

In [ ]:
# Drop ID
df_azdias = df_azdias.drop(columns="LNR")
df_customers = df_customers.drop(columns="LNR")

In [ ]:
# Check df_information_levels
df_information_levels.head(5)

,Information_Level,attribute,description,additional_notes
1,NaN,AGER_TYP,best-ager typology,in cooperation with Kantar TNS; the informatio...
2,Person,ALTERSKATEGORIE_GROB,age through prename analysis,modelled on millions of first name-age-referen...
3,NaN,ANREDE_KZ,gender,NaN
4,NaN,CJT_GESAMTTYP,Customer-Journey-Typology relating to the pref...,"relating to the preferred information, marketi..."
5,NaN,FINANZ_MINIMALIST,financial typology: low financial interest,Gfk-Typology based on a representative househo...

In [ ]:
# Check df_attributes_values
df_attributes_values.head(5)

  attribute         description value                     meaning
1  AGER_TYP  best-ager typology    -1                     unknown
2       NaN                 NaN     0  no classification possible
3       NaN                 NaN     1             passive elderly
4       NaN                 NaN     2            cultural elderly
5       NaN                 NaN     3   experience-driven elderly

In [ ]:
# Forward filling the attribute values df for better filtering/slicing
df_attributes_values["attribute"] = df_attributes_values["attribute"].fillna(method="ffill")
df_attributes_values["description"] = df_attributes_values["description"].fillna(method="ffill")
df_attributes_values.head(5)

  attribute         description value                     meaning
1  AGER_TYP  best-ager typology    -1                     unknown
2  AGER_TYP  best-ager typology     0  no classification possible
3  AGER_TYP  best-ager typology     1             passive elderly
4  AGER_TYP  best-ager typology     2            cultural elderly
5  AGER_TYP  best-ager typology     3   experience-driven elderly

In [ ]:
meta_df = create_meta_dataframa()

In [ ]:
# Saving df for further manual analysis
meta_df.to_excel("meta_data.xlsx", index=False)
meta_df_files = drive.CreateFile({'title' : "meta_data.xlsx"})
meta_df_files.SetContentFile("meta_data.xlsx")
meta_df_files.Upload()
drive.CreateFile({'id': meta_df_files.get("meta_data.xlsx")})

GoogleDriveFile({'id': None})

### Analyze nan values

In [ ]:
nan_threshold = 0.3
meta_df.loc[(meta_df["na_percentage_azdias"] > nan_threshold) | (meta_df["na_percentage_customers"] > nan_threshold)]

,column_name,na_percentage_azdias,na_percentage_customers,dtypes_azdias,dtypes_customers,n_dtypes_azdias,n_dtypes_customers,unique_values_azdias,unique_values_customers,description,action,reason
3,ALTER_KIND1,0.9090,0.9386,{<class 'float'>},{<class 'float'>},1,1,17,17,No description available.,Keep,None
4,ALTER_KIND2,0.9669,0.9734,{<class 'float'>},{<class 'float'>},1,1,17,17,No description available.,Keep,None
5,ALTER_KIND3,0.9931,0.9933,{<class 'float'>},{<class 'float'>},1,1,15,14,No description available.,Keep,None
6,ALTER_KIND4,0.9986,0.9988,{<class 'float'>},{<class 'float'>},1,1,12,10,No description available.,Keep,None
99,EXTSEL992,0.7340,0.4450,{<class 'float'>},{<class 'float'>},1,1,56,56,No description available.,Keep,None
299,KK_KUNDENTYP,0.6560,0.5841,{<class 'float'>},{<class 'float'>},1,1,6,6,No description available.,Keep,None

In [ ]:
# Every column with a nan count over 30 percent has also no description. These columns will be dropped from dataset:
print(f"Shape old df_azdias: {df_azdias.shape}")
print(f"Shape old df_customers: {df_customers.shape}")
df_azdias = df_azdias.drop(columns=["ALTER_KIND1", "ALTER_KIND2", "ALTER_KIND3", "ALTER_KIND4", "EXTSEL992", "KK_KUNDENTYP"])
df_customers = df_customers.drop(columns=["ALTER_KIND1", "ALTER_KIND2", "ALTER_KIND3", "ALTER_KIND4", "EXTSEL992", "KK_KUNDENTYP"])
print(f"Shape new df_azdias: {df_azdias.shape}")
print(f"Shape new df_customers: {df_customers.shape}")

Shape old df_azdias: (891221, 365)
Shape old df_customers: (191652, 368)
Shape new df_azdias: (891221, 359)
Shape new df_customers: (191652, 362)

In [ ]:
drop_indices = meta_df.loc[(meta_df["na_percentage_azdias"] > nan_threshold) | (meta_df["na_percentage_customers"] > nan_threshold)].index

In [ ]:
for i in drop_indices:
  meta_df.at[i, "action"] = "Drop"
  meta_df.at[i, "reason"] = "Too many nans"
  
meta_df.loc[(meta_df["na_percentage_azdias"] > nan_threshold) | (meta_df["na_percentage_customers"] > nan_threshold)]

,column_name,na_percentage_azdias,na_percentage_customers,dtypes_azdias,dtypes_customers,n_dtypes_azdias,n_dtypes_customers,unique_values_azdias,unique_values_customers,description,action,reason
3,ALTER_KIND1,0.9090,0.9386,{<class 'float'>},{<class 'float'>},1,1,17,17,No description available.,Drop,Too many nans
4,ALTER_KIND2,0.9669,0.9734,{<class 'float'>},{<class 'float'>},1,1,17,17,No description available.,Drop,Too many nans
5,ALTER_KIND3,0.9931,0.9933,{<class 'float'>},{<class 'float'>},1,1,15,14,No description available.,Drop,Too many nans
6,ALTER_KIND4,0.9986,0.9988,{<class 'float'>},{<class 'float'>},1,1,12,10,No description available.,Drop,Too many nans
99,EXTSEL992,0.7340,0.4450,{<class 'float'>},{<class 'float'>},1,1,56,56,No description available.,Drop,Too many nans
299,KK_KUNDENTYP,0.6560,0.5841,{<class 'float'>},{<class 'float'>},1,1,6,6,No description available.,Drop,Too many nans

In [ ]:
# Analyze nas by rows
df_azdias["row_nan_percentage"] = pd.Series(df_azdias.index).apply(lambda x: df_azdias.iloc[x, :].isna().sum()/df_azdias.shape[1])
df_azdias["row_nan_percentage"].apply(lambda x: round(x, 1)).value_counts()

0.0    746728
0.7     73599
0.2     33965
0.6     20112
0.5      5523
0.1      4603
0.3      3645
0.4      3046
Name: row_nan_percentage, dtype: int64

In [ ]:
row_threshold = 0.3
print(f"Before: {df_azdias.shape}")
df_azdias = df_azdias.loc[df_azdias["row_nan_percentage"] < row_threshold]
df_azdias = df_azdias.drop(columns=["row_nan_percentage"])
print(f"After: {df_azdias.shape}")

Before: (891221, 360)
After: (785421, 359)

### Identify columns with mixed data types

In [ ]:
meta_df.loc[(meta_df["n_dtypes_azdias"] > 1) | (meta_df["n_dtypes_customers"] > 1)]

,column_name,na_percentage_azdias,na_percentage_customers,dtypes_azdias,dtypes_customers,n_dtypes_azdias,n_dtypes_customers,unique_values_azdias,unique_values_customers,description,action,reason
16,CAMEO_DEU_2015,0.1111,0.2631,"{<class 'float'>, <class 'str'>}","{<class 'float'>, <class 'str'>}",2,2,45,45,CAMEO classification 2015 - detailled classifi...,Keep,None
17,CAMEO_DEUG_2015,0.1111,0.2631,"{<class 'float'>, <class 'str'>}","{<class 'float'>, <class 'str'>}",2,2,10,10,CAMEO classification 2015 - Uppergroup,Keep,None
18,CAMEO_INTL_2015,0.1111,0.2631,"{<class 'float'>, <class 'str'>}","{<class 'float'>, <class 'str'>}",2,2,22,22,No description available.,Keep,None
60,D19_LETZTER_KAUF_BRANCHE,0.2885,0.2489,"{<class 'float'>, <class 'str'>}","{<class 'float'>, <class 'str'>}",2,2,35,35,No description available.,Keep,None
96,EINGEFUEGT_AM,0.1045,0.2605,"{<class 'float'>, <class 'str'>}","{<class 'float'>, <class 'str'>}",2,2,5162,3034,No description available.,Keep,None
316,OST_WEST_KZ,0.1045,0.2605,"{<class 'float'>, <class 'str'>}","{<class 'float'>, <class 'str'>}",2,2,2,2,flag indicating the former GDR/FRG,Keep,None

In [ ]:
# CAMEO_DEU_2015
print(set(df_azdias["CAMEO_DEU_2015"]))
df_attributes_values.loc[df_attributes_values["attribute"] == "CAMEO_DEU_2015"]

{nan, '7C', '6D', '7D', '1B', '1E', '8B', '3C', '2C', '5B', '1A', '5D', '6C', '9C', '9A', '5A', '8D', '6F', '2A', 'XX', '5F', '3D', '3B', '9B', '7B', '1D', '7A', '8C', '6B', '5C', '9D', '8A', '2B', '4C', '1C', '4E', '5E', '6E', '9E', '4B', '3A', '7E', '6A', '4A', '2D', '4D'}

,attribute,description,value,meaning
62,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,1A,Work-Life-Balance
63,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,1B,Wealthy Best Ager
64,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,1C,Successful Songwriter
65,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,1D,Old Nobility
66,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,1E,City Nobility
67,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,2A,Cottage Chic
68,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,2B,Noble Jogger
69,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,2C,Established gourmet
70,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,2D,Fine Management
71,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,3A,Career & Family
72,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,3B,Powershopping Families
73,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,3C,Rural Neighborhood
74,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,3D,Secure Retirement
75,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,4A,Family Starter
76,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,4B,Family Life
77,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,4C,String Trimmer
78,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,4D,Empty Nest
79,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,4E,Golden Ager
80,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,5A,Younger Employees
81,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,5B,Suddenly Family
82,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,5C,Family First
83,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,5D,Stock Market Junkies
84,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,5E,Coffee Rider
85,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,5F,Active Retirement
86,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,6A,Jobstarter
87,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,6B,Petty Bourgeois
88,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,6C,Long-established
89,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,6D,Sportgardener
90,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,6E,Urban Parents
91,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,6F,Frugal Aging
92,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,7A,Journeymen
93,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,7B,Mantaplatte
94,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,7C,Factory Worker
95,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,7D,Rear Window
96,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,7E,Interested Retirees
97,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,8A,Multi-culteral
98,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,8B,Young & Mobile
99,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,8C,Prefab
100,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,8D,Town Seniors
101,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,9A,First Shared Apartment
102,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,9B,Temporary Workers
103,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,9C,Afternoon Talk Show
104,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,9D,Mini-Jobber
105,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,9E,Socking Away

In [ ]:
# This column has too many possible categories which is too fine-granular. These columns will be droped.
meta_df.at[16, "action"] = "Drop"
meta_df.at[16, "reason"] = "Too many categories"

print(f"Shape old df_azdias: {df_azdias.shape}")
print(f"Shape old df_customers: {df_customers.shape}")
df_azdias = df_azdias.drop(columns=["CAMEO_DEU_2015"])
df_customers = df_customers.drop(columns=["CAMEO_DEU_2015"])
print(f"Shape new df_azdias: {df_azdias.shape}")
print(f"Shape new df_customers: {df_customers.shape}")

Shape old df_azdias: (785421, 359)
Shape old df_customers: (191652, 362)
Shape new df_azdias: (785421, 358)
Shape new df_customers: (191652, 361)

In [ ]:
# CAMEO_DEU_2015
print(set(df_azdias["CAMEO_DEUG_2015"]))
df_attributes_values.loc[df_attributes_values["attribute"] == "CAMEO_DEUG_2015"]

{nan, '3', '7', '9', '6', 'X', '4', '1', '2', '8', '5'}

,attribute,description,value,meaning
52,CAMEO_DEUG_2015,CAMEO classification 2015 - Uppergroup,-1,unknown
53,CAMEO_DEUG_2015,CAMEO classification 2015 - Uppergroup,1,upper class
54,CAMEO_DEUG_2015,CAMEO classification 2015 - Uppergroup,2,upper middleclass
55,CAMEO_DEUG_2015,CAMEO classification 2015 - Uppergroup,3,established middleclasse
56,CAMEO_DEUG_2015,CAMEO classification 2015 - Uppergroup,4,consumption-oriented middleclass
57,CAMEO_DEUG_2015,CAMEO classification 2015 - Uppergroup,5,active middleclass
58,CAMEO_DEUG_2015,CAMEO classification 2015 - Uppergroup,6,low-consumption middleclass
59,CAMEO_DEUG_2015,CAMEO classification 2015 - Uppergroup,7,lower middleclass
60,CAMEO_DEUG_2015,CAMEO classification 2015 - Uppergroup,8,working class
61,CAMEO_DEUG_2015,CAMEO classification 2015 - Uppergroup,9,urban working class

In [ ]:
# These column more coarsely granular
# Thus, it will be kept
# But there are some values ('X') that are not in the description
X_len = len(df_azdias.loc[df_azdias["CAMEO_DEUG_2015"] == 'X']["CAMEO_DEUG_2015"])
print(f"Number of rows with value 'X': {X_len}")

Number of rows with value 'X': 347

In [ ]:
# Change 'X' values to np.nan first (later handle the nans)
df_azdias["CAMEO_DEUG_2015"] = df_azdias["CAMEO_DEUG_2015"].apply(lambda x: np.nan if x == 'X' else x)
df_customers["CAMEO_DEUG_2015"] = df_customers["CAMEO_DEUG_2015"].apply(lambda x: np.nan if x == 'X' else x)

# Check if it worked
print(set(df_azdias["CAMEO_DEUG_2015"]))

meta_df.at[17, "action"] = "Engineered"
meta_df.at[17, "reason"] = "Deleted values that werent in the description"

print(df_azdias["CAMEO_DEUG_2015"].value_counts())

{nan, '3', '7', '9', '6', '4', '1', '2', '8', '5'}
8    132942
9    106296
6    104762
4    102620
3     85436
2     82327
7     76817
5     54353
1     35870
Name: CAMEO_DEUG_2015, dtype: int64

In [ ]:
# CAMEO_INTL_2015
print(set(df_azdias["CAMEO_INTL_2015"]))
df_attributes_values.loc[df_attributes_values["attribute"] == "CAMEO_INTL_2015"]

{nan, '43', '15', '54', '22', '32', 'XX', '13', '31', '12', '23', '25', '35', '52', '45', '34', '24', '44', '41', '33', '51', '55', '14'}

Empty DataFrame
Columns: [attribute, description, value, meaning]
Index: []

In [ ]:
# It seems that CAMEO_INTL_2015 is not in the df_attributes_values
# Check if there can be something siminliar found
df_attributes_values.loc[df_attributes_values["value"] == 44]

,attribute,description,value,meaning
125,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,44,Less Affluent Households-Older Families & Matu...

In [ ]:
df_attributes_values.loc[df_attributes_values["attribute"] == "CAMEO_DEUINTL_2015"]

,attribute,description,value,meaning
106,CAMEO_DEUINTL_2015,CAMEO classification 2015 - international typo...,-1,unknown
107,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,11,Wealthy Households-Pre-Family Couples & Singles
108,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,12,Wealthy Households-Young Couples With Children
109,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,13,Wealthy Households-Families With School Age Ch...
110,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,14,Wealthy Households-Older Families & Mature Co...
111,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,15,Wealthy Households-Elders In Retirement
112,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,21,Prosperous Households-Pre-Family Couples & Sin...
113,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,22,Prosperous Households-Young Couples With Children
114,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,23,Prosperous Households-Families With School Age...
115,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,24,Prosperous Households-Older Families & Mature ...
116,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,25,Prosperous Households-Elders In Retirement
117,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,31,Comfortable Households-Pre-Family Couples & Si...
118,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,32,Comfortable Households-Young Couples With Chil...
119,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,33,Comfortable Households-Families With School Ag...
120,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,34,Comfortable Households-Older Families & Mature...
121,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,35,Comfortable Households-Elders In Retirement
122,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,41,Less Affluent Households-Pre-Family Couples & ...
123,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,42,Less Affluent Households-Young Couples With Ch...
124,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,43,Less Affluent Households-Families With School ...
125,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,44,Less Affluent Households-Older Families & Matu...
126,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,45,Less Affluent Households-Elders In Retirement
127,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,51,Poorer Households-Pre-Family Couples & Singles
128,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,52,Poorer Households-Young Couples With Children
129,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,53,Poorer Households-Families With School Age Chi...
130,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,54,Poorer Households-Older Families & Mature Couples
131,CAMEO_DEUINTL_2015,(each German CAMEO code belongs to one interna...,55,Poorer Households-Elders In Retirement

In [ ]:
# CAMEO_DEUINTL_2015 is not in the original demographic dataframe
# The original CAMEO_INTL_2015 column can be engineered to be less fine-granular
# 1 Wealthy
# 2 Prosperous
# 3 Comfortable
# 4 Less Affluente
# 5 Poorer
# Also the 'X' values will be changed to be np.nan
df_azdias["CAMEO_INTL_2015"] = df_azdias["CAMEO_INTL_2015"].apply(engineer_CAMEO_INTL_2015)
df_customers["CAMEO_INTL_2015"] = df_customers["CAMEO_INTL_2015"].apply(engineer_CAMEO_INTL_2015)
# Check if it worked
print(set(df_azdias["CAMEO_INTL_2015"]))

meta_df.at[18, "action"] = "Engineered"
meta_df.at[18, "reason"] = "Deleted values that werent in the description. Reduced categories"

print(df_azdias["CAMEO_INTL_2015"].value_counts())

{nan, '3', '1', '4', '2', '5'}
5    220488
2    188056
4    187602
1    118197
3     67080
Name: CAMEO_INTL_2015, dtype: int64

In [ ]:
# D19_LETZTER_KAUF_BRANCHE
print(set(df_azdias["D19_LETZTER_KAUF_BRANCHE"]))
df_attributes_values.loc[df_attributes_values["attribute"] == "D19_LETZTER_KAUF_BRANCHE"]

{nan, 'D19_DROGERIEARTIKEL', 'D19_LOTTO', 'D19_TELKO_MOBILE', 'D19_NAHRUNGSERGAENZUNG', 'D19_BILDUNG', 'D19_BANKEN_GROSS', 'D19_GARTEN', 'D19_FREIZEIT', 'D19_HANDWERK', 'D19_VOLLSORTIMENT', 'D19_DIGIT_SERV', 'D19_BANKEN_LOKAL', 'D19_ENERGIE', 'D19_KINDERARTIKEL', 'D19_BANKEN_REST', 'D19_TECHNIK', 'D19_VERSAND_REST', 'D19_HAUS_DEKO', 'D19_BIO_OEKO', 'D19_BANKEN_DIREKT', 'D19_BUCH_CD', 'D19_WEIN_FEINKOST', 'D19_KOSMETIK', 'D19_SAMMELARTIKEL', 'D19_RATGEBER', 'D19_SCHUHE', 'D19_LEBENSMITTEL', 'D19_REISEN', 'D19_SONSTIGE', 'D19_UNBEKANNT', 'D19_BEKLEIDUNG_GEH', 'D19_TELKO_REST', 'D19_VERSICHERUNGEN', 'D19_BEKLEIDUNG_REST', 'D19_TIERARTIKEL'}

Empty DataFrame
Columns: [attribute, description, value, meaning]
Index: []

In [ ]:
# This column has too many possible categories which is too fine-granular. These columns will be droped.
meta_df.at[60, "action"] = "Drop"
meta_df.at[60, "reason"] = "Too many categories"

print(f"Shape old df_azdias: {df_azdias.shape}")
print(f"Shape old df_customers: {df_customers.shape}")
df_azdias = df_azdias.drop(columns=["D19_LETZTER_KAUF_BRANCHE"])
df_customers = df_customers.drop(columns=["D19_LETZTER_KAUF_BRANCHE"])
print(f"Shape new df_azdias: {df_azdias.shape}")
print(f"Shape new df_customers: {df_customers.shape}")

Shape old df_azdias: (785421, 358)
Shape old df_customers: (191652, 361)
Shape new df_azdias: (785421, 357)
Shape new df_customers: (191652, 360)

In [ ]:
# EINGEFUEGT_AM
print(set(df_azdias["EINGEFUEGT_AM"]))
df_attributes_values.loc[df_attributes_values["attribute"] == "EINGEFUEGT_AM"]

{'2003-06-13 00:00:00', '1994-09-14 00:00:00', '1996-12-13 00:00:00', '2004-04-16 00:00:00', '2009-01-14 00:00:00', '2007-05-08 00:00:00', '1997-08-21 00:00:00', '2003-07-14 00:00:00', '2002-06-07 00:00:00', '2009-09-16 00:00:00', '2002-08-26 00:00:00', '2006-10-09 00:00:00', '2004-07-30 00:00:00', '2006-09-30 00:00:00', '2011-08-09 00:00:00', '2004-02-13 00:00:00', '2010-02-17 00:00:00', '2006-03-15 00:00:00', '2009-10-26 00:00:00', '1994-02-10 00:00:00', '2000-05-29 00:00:00', '2004-07-23 00:00:00', '1994-02-18 00:00:00', '2002-12-18 00:00:00', '2008-12-26 00:00:00', '2007-02-22 00:00:00', '2012-03-13 00:00:00', '2011-11-10 00:00:00', '2012-10-21 00:00:00', '2005-08-26 00:00:00', '2010-10-18 00:00:00', '2003-10-21 00:00:00', '2007-10-31 00:00:00', '2002-06-26 00:00:00', '2002-07-24 00:00:00', '2012-04-11 00:00:00', '2010-03-22 00:00:00', '2008-06-30 00:00:00', '2003-04-11 00:00:00', '1994-10-10 00:00:00', '2005-02-17 00:00:00', '1994-12-22 00:00:00', '1994-05-18 00:00:00', '1998-01-14 00:00:00', '2000-05-12 00:00:00', '2002-01-21 00:00:00', '2003-11-18 00:00:00', '1997-08-01 00:00:00', '2003-11-05 00:00:00', '2004-01-15 00:00:00', '2005-06-24 00:00:00', '2008-02-25 00:00:00', '2001-12-06 00:00:00', '2013-02-14 00:00:00', '2009-07-02 00:00:00', '1994-06-09 00:00:00', '1995-06-06 00:00:00', '1993-02-02 00:00:00', '2001-07-17 00:00:00', '2006-05-31 00:00:00', '2008-10-23 00:00:00', '2005-10-10 00:00:00', '1993-11-09 00:00:00', '2001-11-23 00:00:00', '2004-06-13 00:00:00', '2007-04-20 00:00:00', '2008-08-08 00:00:00', '1998-04-01 00:00:00', '1994-11-22 00:00:00', '2000-10-13 00:00:00', '2005-07-15 00:00:00', '2003-04-02 00:00:00', '1996-04-26 00:00:00', '2003-12-10 00:00:00', '2005-03-22 00:00:00', '2008-01-17 00:00:00', '1996-02-15 00:00:00', '2006-03-22 00:00:00', '2002-06-06 00:00:00', '2002-04-05 00:00:00', '2012-01-25 00:00:00', '2001-05-09 00:00:00', '2006-11-22 00:00:00', '2012-05-16 00:00:00', '2005-06-13 00:00:00', '2012-05-21 00:00:00', '2004-04-29 00:00:00', '1994-01-27 00:00:00', '2009-02-19 00:00:00', '1997-07-10 00:00:00', '1994-02-22 00:00:00', '2010-05-20 00:00:00', '2000-09-14 00:00:00', '1997-02-28 00:00:00', '1999-04-06 00:00:00', '1995-10-17 00:00:00', '2003-03-19 00:00:00', '1999-05-06 00:00:00', '2001-08-08 00:00:00', '1994-09-28 00:00:00', '2004-06-08 00:00:00', '2004-06-24 00:00:00', '2010-03-24 00:00:00', '1996-03-21 00:00:00', '1995-09-20 00:00:00', '2005-04-22 00:00:00', '1994-10-06 00:00:00', '2004-03-04 00:00:00', '2000-11-29 00:00:00', '2008-12-09 00:00:00', '2010-07-12 00:00:00', '2006-06-22 00:00:00', '1994-09-15 00:00:00', '1995-11-07 00:00:00', '2004-06-14 00:00:00', '2010-07-27 00:00:00', '2000-11-23 00:00:00', '2002-10-25 00:00:00', '2006-03-17 00:00:00', '1994-07-20 00:00:00', '2001-01-10 00:00:00', '1999-05-03 00:00:00', '2007-08-07 00:00:00', '1997-10-07 00:00:00', '1998-11-03 00:00:00', '1996-06-11 00:00:00', '2003-09-07 00:00:00', '2008-08-19 00:00:00', '2001-06-01 00:00:00', '2007-08-09 00:00:00', '1993-11-05 00:00:00', '2004-03-23 00:00:00', '2002-12-23 00:00:00', '1997-11-11 00:00:00', '2004-03-26 00:00:00', '1993-02-16 00:00:00', '2008-01-07 00:00:00', '1995-07-12 00:00:00', '1994-10-17 00:00:00', '1995-03-03 00:00:00', '1995-03-01 00:00:00', '2009-03-24 00:00:00', '2009-06-19 00:00:00', '2004-08-25 00:00:00', '1999-08-27 00:00:00', '2005-07-31 00:00:00', '2002-07-01 00:00:00', '2000-11-22 00:00:00', '2009-04-05 00:00:00', '1999-09-13 00:00:00', '1996-06-14 00:00:00', '1995-10-10 00:00:00', '2001-11-30 00:00:00', '2002-09-09 00:00:00', '2003-03-09 00:00:00', '2006-11-29 00:00:00', '2008-04-25 00:00:00', '1994-05-03 00:00:00', '2005-07-28 00:00:00', '2011-09-08 00:00:00', '2002-02-20 00:00:00', '2003-07-02 00:00:00', '1996-09-18 00:00:00', '2010-12-14 00:00:00', '1999-10-04 00:00:00', '2005-07-04 00:00:00', '2010-02-18 00:00:00', '2009-12-22 00:00:00', '2000-07-28 00:00:00', '2012-09-20 00:00:00', '2004-11-29 00:00:00', '2009-03-04 00:00:00', '2003-07-10 00:00:00', '2012-02-21 00:00:00', '2004-03-22 00:00:00', '1994-12-13 00:00:00', '2000-05-22 00:00:00', '2007-06-14 00:00:00', '1999-04-12 00:00:00', '2009-03-07 00:00:00', '1995-02-20 00:00:00', '2004-12-22 00:00:00', '1998-04-23 00:00:00', '2003-12-21 00:00:00', '2005-06-15 00:00:00', '2000-12-27 00:00:00', '1998-12-08 00:00:00', '2003-07-17 00:00:00', '2010-08-30 00:00:00', '1993-01-20 00:00:00', '2002-08-06 00:00:00', '2011-09-16 00:00:00', '2010-04-22 00:00:00', '2007-03-16 00:00:00', '2007-10-30 00:00:00', '1993-09-06 00:00:00', '2011-12-16 00:00:00', '2003-02-13 00:00:00', '2009-02-09 00:00:00', '2002-02-14 00:00:00', '2002-03-28 00:00:00', '1992-12-30 00:00:00', '2002-07-16 00:00:00', '2005-11-11 00:00:00', '2009-02-06 00:00:00', '2009-11-22 00:00:00', '2008-02-04 00:00:00', '2005-11-22 00:00:00', '2000-11-16 00:00:00', '2007-01-05 00:00:00', '1995-12-07 00:00:00', '2001-08-06 00:00:00', '1999-07-29 00:00:00', '2013-01-17 00:00:00', '2002-01-11 00:00:00', '2004-03-14 00:00:00', '2000-11-13 00:00:00', '1996-11-22 00:00:00', '2004-02-27 00:00:00', '2009-10-02 00:00:00', '2002-09-16 00:00:00', '2008-03-10 00:00:00', '2001-05-28 00:00:00', '1994-12-21 00:00:00', '2003-09-15 00:00:00', '2007-05-11 00:00:00', '2006-02-15 00:00:00', '2003-08-13 00:00:00', '2001-09-25 00:00:00', '1997-03-17 00:00:00', '2001-05-22 00:00:00', '2009-06-10 00:00:00', '1998-04-22 00:00:00', '1998-03-25 00:00:00', '2000-02-29 00:00:00', '1997-09-02 00:00:00', '2002-06-28 00:00:00', '2004-08-18 00:00:00', '2004-07-29 00:00:00', '2012-07-26 00:00:00', '2012-05-31 00:00:00', '2012-11-13 00:00:00', '1998-12-17 00:00:00', '1996-10-31 00:00:00', '2012-07-12 00:00:00', '1997-02-11 00:00:00', '2003-10-23 00:00:00', '1995-01-09 00:00:00', '1997-09-26 00:00:00', '2005-09-06 00:00:00', '1995-02-02 00:00:00', '1995-01-26 00:00:00', '2011-12-22 00:00:00', '2001-03-29 00:00:00', '2001-07-18 00:00:00', '1995-12-14 00:00:00', '1999-06-22 00:00:00', '2006-12-13 00:00:00', '2001-07-03 00:00:00', '2000-06-02 00:00:00', '2001-12-13 00:00:00', '2004-11-28 00:00:00', '2001-02-28 00:00:00', '1995-09-27 00:00:00', '2011-02-06 00:00:00', '1994-02-01 00:00:00', '2004-06-28 00:00:00', '2006-04-25 00:00:00', '2012-02-15 00:00:00', '2006-07-31 00:00:00', '2006-07-03 00:00:00', '2010-04-13 00:00:00', '2007-07-29 00:00:00', '2007-11-12 00:00:00', '2002-06-18 00:00:00', '2000-04-25 00:00:00', '2005-12-02 00:00:00', '2011-01-19 00:00:00', '1998-02-09 00:00:00', '2008-02-27 00:00:00', '2002-02-15 00:00:00', '1995-07-17 00:00:00', '1994-05-19 00:00:00', '1996-07-09 00:00:00', '2010-12-06 00:00:00', '1993-06-14 00:00:00', '2011-08-21 00:00:00', '1995-04-24 00:00:00', '1993-09-23 00:00:00', '2001-05-02 00:00:00', '2006-09-14 00:00:00', '1993-11-11 00:00:00', '2004-08-22 00:00:00', '1999-05-10 00:00:00', '2009-04-04 00:00:00', '2004-06-01 00:00:00', '2006-09-19 00:00:00', '2004-10-14 00:00:00', '1997-10-22 00:00:00', '2009-02-25 00:00:00', '2002-07-17 00:00:00', '1997-09-18 00:00:00', '2004-06-02 00:00:00', '2007-03-06 00:00:00', '2008-09-26 00:00:00', '1996-07-17 00:00:00', '1995-02-28 00:00:00', '1999-08-06 00:00:00', '1993-03-31 00:00:00', '2003-09-26 00:00:00', '1998-06-05 00:00:00', '2009-02-18 00:00:00', '2012-09-01 00:00:00', '1998-02-10 00:00:00', '2011-12-02 00:00:00', '2000-07-27 00:00:00', '2000-06-20 00:00:00', '1996-08-16 00:00:00', '2001-03-21 00:00:00', '2007-01-24 00:00:00', '1994-05-20 00:00:00', '1993-03-03 00:00:00', '2002-07-29 00:00:00', '2000-05-25 00:00:00', '2005-11-03 00:00:00', '2002-05-16 00:00:00', '2010-08-27 00:00:00', '1993-08-04 00:00:00', '2004-11-24 00:00:00', '2010-06-21 00:00:00', '1999-03-18 00:00:00', '2001-03-13 00:00:00', '2008-12-30 00:00:00', '2003-04-10 00:00:00', '2007-10-18 00:00:00', '1997-09-12 00:00:00', '2010-11-30 00:00:00', '2011-08-24 00:00:00', '2007-08-24 00:00:00', '1997-12-18 00:00:00', '2003-03-01 00:00:00', '2003-05-13 00:00:00', '2010-11-02 00:00:00', '1997-05-26 00:00:00', '1997-06-10 00:00:00', '2003-06-16 00:00:00', '2011-11-30 00:00:00', '2004-01-25 00:00:00', '2002-03-27 00:00:00', '2003-02-11 00:00:00', '2006-12-14 00:00:00', '1996-10-11 00:00:00', '2002-01-08 00:00:00', '1993-07-01 00:00:00', '1993-10-18 00:00:00', '2003-08-21 00:00:00', '2010-10-26 00:00:00', '1999-07-15 00:00:00', '2013-01-22 00:00:00', '2011-02-01 00:00:00', '2002-08-16 00:00:00', '2009-07-10 00:00:00', '2005-11-26 00:00:00', '2010-03-02 00:00:00', '1996-01-09 00:00:00', '2007-04-24 00:00:00', '2000-04-06 00:00:00', '1996-08-12 00:00:00', '2001-05-14 00:00:00', '2009-03-26 00:00:00', '2010-12-17 00:00:00', '2010-02-01 00:00:00', '2005-09-14 00:00:00', '2003-02-27 00:00:00', '1997-04-14 00:00:00', '2006-06-30 00:00:00', '2008-09-05 00:00:00', '1999-09-30 00:00:00', '1994-12-05 00:00:00', '2008-03-25 00:00:00', '2008-03-11 00:00:00', '2011-11-04 00:00:00', '1994-12-20 00:00:00', '2003-10-06 00:00:00', '1999-02-04 00:00:00', '2009-09-02 00:00:00', '2006-10-05 00:00:00', '2001-07-02 00:00:00', '1999-11-26 00:00:00', '2002-01-14 00:00:00', '2003-10-20 00:00:00', '1998-04-07 00:00:00', '1994-12-14 00:00:00', '2009-02-24 00:00:00', '2012-04-26 00:00:00', '1996-06-17 00:00:00', '2005-12-07 00:00:00', '2002-02-18 00:00:00', '2004-07-20 00:00:00', '2009-06-24 00:00:00', '2006-11-24 00:00:00', '2011-07-31 00:00:00', '2009-03-20 00:00:00', '2003-10-22 00:00:00', '1996-11-07 00:00:00', '2008-01-23 00:00:00', '2013-01-25 00:00:00', '2006-03-13 00:00:00', '1998-01-20 00:00:00', '1997-08-08 00:00:00', '2000-07-26 00:00:00', '2004-08-19 00:00:00', '2005-05-25 00:00:00', '2007-05-18 00:00:00', '2005-08-05 00:00:00', '1993-11-27 00:00:00', '2008-09-28 00:00:00', '1994-12-07 00:00:00', '1999-08-13 00:00:00', '2008-05-11 00:00:00', '1998-08-07 00:00:00', '1996-05-20 00:00:00', '2002-09-24 00:00:00', '2002-11-11 00:00:00', '1997-05-21 00:00:00', '1994-11-08 00:00:00', '2008-01-30 00:00:00', '2002-08-23 00:00:00', '1994-01-11 00:00:00', '2007-04-16 00:00:00', '2009-01-15 00:00:00', '1999-01-14 00:00:00', '1995-02-22 00:00:00', '2003-03-17 00:00:00', '1993-11-04 00:00:00', '1993-07-14 00:00:00', '2003-04-13 00:00:00', '1996-10-03 00:00:00', '1995-11-16 00:00:00', '2012-06-06 00:00:00', '2000-03-21 00:00:00', '1996-08-07 00:00:00', '2001-07-19 00:00:00', '2000-07-06 00:00:00', '1993-04-02 00:00:00', '2009-04-22 00:00:00', '2004-11-19 00:00:00', '2009-02-26 00:00:00', '2000-03-09 00:00:00', '2000-07-03 00:00:00', '2010-03-09 00:00:00', '2006-09-25 00:00:00', '1993-01-11 00:00:00', '2000-05-18 00:00:00', '1999-01-23 00:00:00', '2003-05-23 00:00:00', '2005-08-12 00:00:00', '1994-11-21 00:00:00', '2005-08-18 00:00:00', '1997-08-14 00:00:00', '2011-07-08 00:00:00', '2002-03-12 00:00:00', '2011-06-08 00:00:00', '1995-10-30 00:00:00', '1997-12-19 00:00:00', '2011-10-05 00:00:00', '1993-08-06 00:00:00', '1998-07-31 00:00:00', '1997-04-10 00:00:00', '2003-06-04 00:00:00', '2003-09-21 00:00:00', '2012-07-06 00:00:00', '2005-11-09 00:00:00', '2002-12-06 00:00:00', '1997-12-16 00:00:00', '2006-07-13 00:00:00', '2005-06-28 00:00:00', '2005-03-11 00:00:00', '2009-03-09 00:00:00', '2007-11-27 00:00:00', '2005-03-12 00:00:00', '2010-12-07 00:00:00', '2006-05-29 00:00:00', '2004-05-15 00:00:00', '1996-05-06 00:00:00', '1996-10-25 00:00:00', '2002-11-07 00:00:00', '1993-04-14 00:00:00', '1995-07-19 00:00:00', '2006-08-24 00:00:00', '2008-08-01 00:00:00', '1995-12-12 00:00:00', '1997-11-14 00:00:00', '1994-03-28 00:00:00', '1998-09-11 00:00:00', '1994-05-25 00:00:00', '2001-06-18 00:00:00', '1993-08-12 00:00:00', '1999-06-24 00:00:00', '1996-02-16 00:00:00', '2010-02-09 00:00:00', '2002-09-13 00:00:00', '1993-09-21 00:00:00', '2003-11-14 00:00:00', '1993-12-28 00:00:00', '2008-04-08 00:00:00', '1998-03-03 00:00:00', '2010-10-28 00:00:00', '2006-03-16 00:00:00', '2006-01-04 00:00:00', '2012-01-31 00:00:00', '1999-03-01 00:00:00', '2002-07-04 00:00:00', '1996-04-23 00:00:00', '1995-12-29 00:00:00', '2010-05-31 00:00:00', '1995-04-28 00:00:00', '1997-09-01 00:00:00', '1993-07-02 00:00:00', '1997-12-08 00:00:00', '1993-05-24 00:00:00', '2012-05-11 00:00:00', '2008-06-09 00:00:00', '2003-04-27 00:00:00', '1998-09-14 00:00:00', '2001-04-03 00:00:00', '2008-06-08 00:00:00', '1997-11-04 00:00:00', '1995-08-22 00:00:00', '2006-10-26 00:00:00', '1998-12-21 00:00:00', '1996-08-13 00:00:00', '1997-10-10 00:00:00', '2003-09-29 00:00:00', '2007-08-21 00:00:00', '1995-05-19 00:00:00', '2005-01-11 00:00:00', '1996-12-07 00:00:00', '2004-03-06 00:00:00', '2011-01-20 00:00:00', '1993-02-01 00:00:00', '2002-08-07 00:00:00', '1994-08-16 00:00:00', '2005-05-11 00:00:00', '2009-03-13 00:00:00', '1995-06-02 00:00:00', '2006-03-03 00:00:00', '2002-08-29 00:00:00', '2000-04-05 00:00:00', '1998-10-27 00:00:00', '2009-03-03 00:00:00', '2004-09-23 00:00:00', '2009-05-26 00:00:00', '2003-07-28 00:00:00', '2004-09-27 00:00:00', '2005-03-25 00:00:00', '1998-05-20 00:00:00', '2001-06-12 00:00:00', '1996-12-17 00:00:00', '1994-03-09 00:00:00', '1995-08-09 00:00:00', '2006-10-17 00:00:00', '1996-02-02 00:00:00', '1995-07-18 00:00:00', '2002-04-11 00:00:00', '2012-08-08 00:00:00', '1994-08-12 00:00:00', '2005-10-17 00:00:00', '2001-04-05 00:00:00', '1998-12-09 00:00:00', '2002-04-24 00:00:00', '2001-09-17 00:00:00', '2009-04-03 00:00:00', '1997-11-29 00:00:00', '2007-08-29 00:00:00', '2011-05-25 00:00:00', '2009-01-21 00:00:00', '2009-02-17 00:00:00', '2002-01-07 00:00:00', '1996-03-08 00:00:00', '1995-08-30 00:00:00', '2005-02-25 00:00:00', '1995-09-14 00:00:00', '2001-08-24 00:00:00', '2000-09-06 00:00:00', '1999-10-07 00:00:00', '1993-05-04 00:00:00', '2003-12-07 00:00:00', '2001-07-13 00:00:00', '1995-04-03 00:00:00', '2008-02-01 00:00:00', '2011-10-12 00:00:00', '1998-02-25 00:00:00', '1998-09-08 00:00:00', '1998-11-18 00:00:00', '2002-10-29 00:00:00', '1996-12-14 00:00:00', '1995-03-24 00:00:00', '1993-03-19 00:00:00', '2011-04-13 00:00:00', '2008-02-11 00:00:00', '2004-02-20 00:00:00', '2007-10-26 00:00:00', '1994-09-09 00:00:00', '2011-11-11 00:00:00', '2010-10-19 00:00:00', '2002-08-13 00:00:00', '2012-01-23 00:00:00', '1996-03-16 00:00:00', '2009-03-02 00:00:00', '1993-10-11 00:00:00', '1994-08-15 00:00:00', '1997-04-08 00:00:00', '1996-04-29 00:00:00', '2010-05-06 00:00:00', '1994-04-21 00:00:00', '1999-07-20 00:00:00', '1996-05-07 00:00:00', '2006-08-29 00:00:00', '2008-08-29 00:00:00', '2008-05-07 00:00:00', '2001-04-23 00:00:00', '2002-09-30 00:00:00', '2004-09-16 00:00:00', '2003-10-02 00:00:00', '2012-02-07 00:00:00', '2008-04-03 00:00:00', '2002-03-01 00:00:00', '1996-05-08 00:00:00', '2004-11-10 00:00:00', '2012-03-12 00:00:00', '2004-04-08 00:00:00', '2000-02-28 00:00:00', '2003-04-09 00:00:00', '2011-05-30 00:00:00', '1998-11-28 00:00:00', '2000-08-11 00:00:00', '1998-12-28 00:00:00', '2002-04-18 00:00:00', '2008-08-11 00:00:00', '2010-02-04 00:00:00', '2012-03-30 00:00:00', '2010-06-14 00:00:00', '2000-12-19 00:00:00', '2000-03-02 00:00:00', '2005-04-09 00:00:00', '2011-08-10 00:00:00', '2012-04-23 00:00:00', '2001-01-11 00:00:00', '2004-10-26 00:00:00', '2000-03-24 00:00:00', '2003-09-17 00:00:00', '1998-03-13 00:00:00', '1998-01-21 00:00:00', '2003-11-28 00:00:00', '2010-06-15 00:00:00', '1993-01-04 00:00:00', '2001-05-08 00:00:00', '1997-06-20 00:00:00', '1999-01-08 00:00:00', '2009-07-21 00:00:00', '2003-07-04 00:00:00', '2004-01-21 00:00:00', '1994-02-14 00:00:00', '2000-07-14 00:00:00', '2003-09-09 00:00:00', '2004-12-16 00:00:00', '2009-06-03 00:00:00', '1994-04-25 00:00:00', '2005-09-26 00:00:00', '2008-09-19 00:00:00', '2007-03-08 00:00:00', '2009-02-10 00:00:00', '1993-08-31 00:00:00', '1994-03-02 00:00:00', '1996-01-23 00:00:00', '2002-12-16 00:00:00', '1994-09-12 00:00:00', '2005-11-10 00:00:00', '1998-08-31 00:00:00', '2000-12-08 00:00:00', '2001-07-04 00:00:00', '2000-06-19 00:00:00', '1995-09-01 00:00:00', '1996-05-29 00:00:00', '2006-02-14 00:00:00', '2006-10-12 00:00:00', '1992-12-14 00:00:00', '1996-01-04 00:00:00', '2006-08-21 00:00:00', '2003-09-23 00:00:00', '1995-09-04 00:00:00', '1996-05-03 00:00:00', '2011-03-10 00:00:00', '2002-03-13 00:00:00', '2002-07-23 00:00:00', '2002-05-29 00:00:00', '2003-07-27 00:00:00', '2011-07-11 00:00:00', '2012-08-28 00:00:00', '2001-10-01 00:00:00', '1998-07-21 00:00:00', '1994-01-03 00:00:00', '1998-09-10 00:00:00', '1997-09-17 00:00:00', '2001-08-21 00:00:00', '2000-04-04 00:00:00', '2004-11-04 00:00:00', '1995-10-09 00:00:00', '1996-03-05 00:00:00', '2007-03-19 00:00:00', '1994-10-28 00:00:00', '2007-06-26 00:00:00', '2009-01-28 00:00:00', '1995-03-15 00:00:00', '2006-08-18 00:00:00', '2007-12-10 00:00:00', '1998-01-19 00:00:00', '2003-10-08 00:00:00', '2013-01-19 00:00:00', '1993-11-15 00:00:00', '2007-11-20 00:00:00', '1997-07-15 00:00:00', '2002-07-05 00:00:00', '1995-03-08 00:00:00', '2002-01-10 00:00:00', '2003-06-15 00:00:00', '2004-04-06 00:00:00', '2004-10-09 00:00:00', '2009-03-27 00:00:00', '2007-07-23 00:00:00', '1995-08-03 00:00:00', '2004-05-17 00:00:00', '2005-09-02 00:00:00', '2003-07-22 00:00:00', '1998-03-02 00:00:00', '2006-01-19 00:00:00', '2010-06-26 00:00:00', '1995-03-20 00:00:00', '2006-07-07 00:00:00', '2003-12-17 00:00:00', '2000-05-05 00:00:00', '1993-09-10 00:00:00', '1993-11-16 00:00:00', '1994-06-01 00:00:00', '2004-02-05 00:00:00', '2003-11-07 00:00:00', '2004-03-10 00:00:00', '2008-07-24 00:00:00', '2010-06-07 00:00:00', '2010-02-23 00:00:00', '2004-07-19 00:00:00', '2012-07-16 00:00:00', '2011-02-16 00:00:00', '2012-02-20 00:00:00', '2011-06-27 00:00:00', '2009-10-27 00:00:00', '1994-09-08 00:00:00', '2005-06-30 00:00:00', '1996-01-12 00:00:00', '2005-12-27 00:00:00', '2004-06-11 00:00:00', '2005-03-08 00:00:00', '2011-02-18 00:00:00', '2009-08-11 00:00:00', '1998-12-15 00:00:00', '2004-10-23 00:00:00', '1993-05-18 00:00:00', '2012-09-05 00:00:00', '2000-09-25 00:00:00', '1994-05-06 00:00:00', '1996-04-24 00:00:00', '2004-07-26 00:00:00', '2003-12-05 00:00:00', '2002-02-11 00:00:00', '1993-06-03 00:00:00', '1995-06-07 00:00:00', '2006-09-09 00:00:00', '1996-11-16 00:00:00', '2003-06-06 00:00:00', '2004-11-30 00:00:00', '2002-10-07 00:00:00', '2000-12-21 00:00:00', '1999-06-21 00:00:00', '2003-09-12 00:00:00', '2008-02-28 00:00:00', '2004-05-11 00:00:00', '2001-09-26 00:00:00', '1995-10-04 00:00:00', '2003-09-04 00:00:00', '2011-04-07 00:00:00', '2007-08-19 00:00:00', '2005-12-13 00:00:00', '2000-03-30 00:00:00', '1995-06-30 00:00:00', '2008-07-11 00:00:00', '2002-02-26 00:00:00', '1999-07-16 00:00:00', '1999-01-15 00:00:00', '2001-08-22 00:00:00', '2000-12-13 00:00:00', '2010-07-07 00:00:00', '2006-09-21 00:00:00', '2004-05-12 00:00:00', '2002-06-12 00:00:00', '2013-01-23 00:00:00', '2001-10-25 00:00:00', '1999-05-07 00:00:00', '1998-07-27 00:00:00', '2004-10-18 00:00:00', '1998-06-09 00:00:00', '2011-09-11 00:00:00', '2005-03-29 00:00:00', '2003-12-08 00:00:00', '2009-06-22 00:00:00', '2004-03-05 00:00:00', '2010-12-02 00:00:00', '2011-07-04 00:00:00', '2003-11-29 00:00:00', '2008-09-12 00:00:00', '1994-07-27 00:00:00', '2001-08-14 00:00:00', '1997-08-07 00:00:00', '2005-08-22 00:00:00', '2005-06-22 00:00:00', '1999-06-15 00:00:00', '2003-08-18 00:00:00', '1998-07-24 00:00:00', '2009-04-14 00:00:00', '2009-09-21 00:00:00', '1998-10-20 00:00:00', '1995-11-28 00:00:00', '1995-09-08 00:00:00', '2008-10-06 00:00:00', '2012-12-07 00:00:00', '2007-11-14 00:00:00', '2012-11-26 00:00:00', '1997-03-19 00:00:00', '2009-01-13 00:00:00', '2003-10-01 00:00:00', '1997-09-22 00:00:00', '1995-11-22 00:00:00', '2012-04-27 00:00:00', '2006-01-31 00:00:00', '2003-11-23 00:00:00', '2002-02-12 00:00:00', '1999-07-09 00:00:00', '2010-02-16 00:00:00', '1995-03-31 00:00:00', '2008-04-28 00:00:00', '1997-08-28 00:00:00', '2004-04-22 00:00:00', '2004-10-13 00:00:00', '2011-05-31 00:00:00', '1995-04-20 00:00:00', '1994-10-04 00:00:00', '1997-02-07 00:00:00', '2005-01-27 00:00:00', '2008-06-12 00:00:00', '2008-11-18 00:00:00', '2001-12-11 00:00:00', '2000-03-13 00:00:00', '2012-06-10 00:00:00', '2006-01-26 00:00:00', '1994-01-25 00:00:00', '2010-01-20 00:00:00', '2007-02-07 00:00:00', '1997-12-22 00:00:00', '2001-05-16 00:00:00', '2000-05-09 

Empty DataFrame
Columns: [attribute, description, value, meaning]
Index: []

In [ ]:
# This is a date value and we will just keep the year since it holds the most information
df_azdias["EINGEFUEGT_AM"] = df_azdias["EINGEFUEGT_AM"].apply(lambda x: str(x)[:4])
df_customers["EINGEFUEGT_AM"] = df_customers["EINGEFUEGT_AM"].apply(lambda x: str(x)[:4])
# Check if it worked
print(set(df_azdias["EINGEFUEGT_AM"]))
meta_df.at[96, "action"] = "Engineered"
meta_df.at[96, "reason"] = "Just keep the year"

print(df_azdias["EINGEFUEGT_AM"].value_counts())

{'1997', '2001', '1991', '1992', '2013', '1995', '2003', '1993', '2008', '2009', '1999', '1994', '2007', '2004', '2005', '2011', '2000', '1996', '2012', '2006', '1998', '2002', '2010'}
1992    573892
1995     42226
1996     29539
1994     28647
1993     23981
1997     19542
2005     14005
2003     10074
2004      6190
2000      5815
2006      5276
2007      3631
1998      3428
2008      3179
2002      3108
2009      3008
2012      2771
2011      2553
2010      1659
2001      1626
1999      1050
2013       218
1991         3
Name: EINGEFUEGT_AM, dtype: int64

In [ ]:
# OST_WEST_KZ
print(set(df_azdias["OST_WEST_KZ"]))
df_attributes_values.loc[df_attributes_values["attribute"] == "OST_WEST_KZ"]

{'O', 'W'}

        attribute                         description value     meaning
2014  OST_WEST_KZ  flag indicating the former GDR/FRG    -1     unknown
2015  OST_WEST_KZ  flag indicating the former GDR/FRG     O  East (GDR)
2016  OST_WEST_KZ  flag indicating the former GDR/FRG     W  West (FRG)

In [ ]:
# Since there are only 2 classes they can be changed to binary
df_azdias["OST_WEST_KZ"] = df_azdias["OST_WEST_KZ"].apply(engineer_OST_WEST_KZ)
df_customers["OST_WEST_KZ"] = df_customers["OST_WEST_KZ"].apply(engineer_OST_WEST_KZ)

# Check if it worked
print(set(df_azdias["OST_WEST_KZ"])) 

meta_df.at[316, "action"] = "Engineered"
meta_df.at[316, "reason"] = "Changed to binary"

print(df_azdias["OST_WEST_KZ"].value_counts())

{0, 1}
1    619287
0    166134
Name: OST_WEST_KZ, dtype: int64

### Save interim results

In [ ]:
df_azdias.iloc[0:80000,:].to_csv("df_azdias_cleaned_1.csv", index=False)
df_azdias_cleaned_file = drive.CreateFile({'title' : "df_azdias_cleaned_1.csv"})
df_azdias_cleaned_file.SetContentFile("df_azdias_cleaned_1.csv")
df_azdias_cleaned_file.Upload()
drive.CreateFile({'id': df_azdias_cleaned_file.get("df_azdias_cleaned_1.csv")})

GoogleDriveFile({'id': None})

In [ ]:
df_azdias.iloc[80000:160000,:].to_csv("df_azdias_cleaned_2.csv", index=False)
df_azdias_cleaned_file = drive.CreateFile({'title' : "df_azdias_cleaned_2.csv"})
df_azdias_cleaned_file.SetContentFile("df_azdias_cleaned_2.csv")
df_azdias_cleaned_file.Upload()
drive.CreateFile({'id': df_azdias_cleaned_file.get("df_azdias_cleaned_2.csv")})

GoogleDriveFile({'id': None})

In [ ]:
df_azdias.iloc[160000:240000,:].to_csv("df_azdias_cleaned_3.csv", index=False)
df_azdias_cleaned_file = drive.CreateFile({'title' : "df_azdias_cleaned_3.csv"})
df_azdias_cleaned_file.SetContentFile("df_azdias_cleaned_3.csv")
df_azdias_cleaned_file.Upload()
drive.CreateFile({'id': df_azdias_cleaned_file.get("df_azdias_cleaned_3.csv")})

GoogleDriveFile({'id': None})

In [ ]:
df_azdias.iloc[240000:320000,:].to_csv("df_azdias_cleaned_4.csv", index=False)
df_azdias_cleaned_file = drive.CreateFile({'title' : "df_azdias_cleaned_4.csv"})
df_azdias_cleaned_file.SetContentFile("df_azdias_cleaned_4.csv")
df_azdias_cleaned_file.Upload()
drive.CreateFile({'id': df_azdias_cleaned_file.get("df_azdias_cleaned_4.csv")})

GoogleDriveFile({'id': None})

In [ ]:
df_azdias.iloc[320000:400000,:].to_csv("df_azdias_cleaned_5.csv", index=False)
df_azdias_cleaned_file = drive.CreateFile({'title' : "df_azdias_cleaned_5.csv"})
df_azdias_cleaned_file.SetContentFile("df_azdias_cleaned_5.csv")
df_azdias_cleaned_file.Upload()
drive.CreateFile({'id': df_azdias_cleaned_file.get("df_azdias_cleaned_5.csv")})

GoogleDriveFile({'id': None})

In [ ]:
df_azdias.iloc[400000:480000,:].to_csv("df_azdias_cleaned_6.csv", index=False)
df_azdias_cleaned_file = drive.CreateFile({'title' : "df_azdias_cleaned_6.csv"})
df_azdias_cleaned_file.SetContentFile("df_azdias_cleaned_6.csv")
df_azdias_cleaned_file.Upload()
drive.CreateFile({'id': df_azdias_cleaned_file.get("df_azdias_cleaned_6.csv")})

GoogleDriveFile({'id': None})

In [ ]:
df_azdias.iloc[480000:560000,:].to_csv("df_azdias_cleaned_7.csv", index=False)
df_azdias_cleaned_file = drive.CreateFile({'title' : "df_azdias_cleaned_7.csv"})
df_azdias_cleaned_file.SetContentFile("df_azdias_cleaned_7.csv")
df_azdias_cleaned_file.Upload()
drive.CreateFile({'id': df_azdias_cleaned_file.get("df_azdias_cleaned_7.csv")})

GoogleDriveFile({'id': None})

In [ ]:
df_azdias.iloc[560000:640000,:].to_csv("df_azdias_cleaned_8.csv", index=False)
df_azdias_cleaned_file = drive.CreateFile({'title' : "df_azdias_cleaned_8.csv"})
df_azdias_cleaned_file.SetContentFile("df_azdias_cleaned_8.csv")
df_azdias_cleaned_file.Upload()
drive.CreateFile({'id': df_azdias_cleaned_file.get("df_azdias_cleaned_8.csv")})

GoogleDriveFile({'id': None})

In [ ]:
df_azdias.iloc[640000:720000,:].to_csv("df_azdias_cleaned_9.csv", index=False)
df_azdias_cleaned_file = drive.CreateFile({'title' : "df_azdias_cleaned_9.csv"})
df_azdias_cleaned_file.SetContentFile("df_azdias_cleaned_9.csv")
df_azdias_cleaned_file.Upload()
drive.CreateFile({'id': df_azdias_cleaned_file.get("df_azdias_cleaned_9.csv")})

GoogleDriveFile({'id': None})

In [ ]:
df_azdias.iloc[720000:,:].to_csv("df_azdias_cleaned_10.csv", index=False)
df_azdias_cleaned_file = drive.CreateFile({'title' : "df_azdias_cleaned_10.csv"})
df_azdias_cleaned_file.SetContentFile("df_azdias_cleaned_10.csv")
df_azdias_cleaned_file.Upload()
drive.CreateFile({'id': df_azdias_cleaned_file.get("df_azdias_cleaned_10.csv")})

GoogleDriveFile({'id': None})

In [ ]:
df_customers.shape

(191652, 360)

In [ ]:
df_customers.iloc[0:80000,:].to_csv("df_customers_cleaned_1.csv", index=False)
df_customers_cleaned_file_1 = drive.CreateFile({'title' : "df_customers_cleaned_1.csv"})
df_customers_cleaned_file_1.SetContentFile("df_customers_cleaned_1.csv")
df_customers_cleaned_file_1.Upload()
drive.CreateFile({'id': df_customers_cleaned_file_1.get("df_customers_cleaned_1.csv")})

GoogleDriveFile({'id': None})

In [ ]:
df_customers.iloc[80000:160000,:].to_csv("df_customers_cleaned_2.csv", index=False)
df_customers_cleaned_file_1 = drive.CreateFile({'title' : "df_customers_cleaned_2.csv"})
df_customers_cleaned_file_1.SetContentFile("df_customers_cleaned_2.csv")
df_customers_cleaned_file_1.Upload()
drive.CreateFile({'id': df_customers_cleaned_file_1.get("df_customers_cleaned_2.csv")})

GoogleDriveFile({'id': None})

In [ ]:
df_customers.iloc[160000:,:].to_csv("df_customers_cleaned_3.csv", index=False)
df_customers_cleaned_file_1 = drive.CreateFile({'title' : "df_customers_cleaned_3.csv"})
df_customers_cleaned_file_1.SetContentFile("df_customers_cleaned_3.csv")
df_customers_cleaned_file_1.Upload()
drive.CreateFile({'id': df_customers_cleaned_file_1.get("df_customers_cleaned_3.csv")})

GoogleDriveFile({'id': None})

In [ ]:
meta_df.to_excel("meta_df.xlsx", index=False)
meta_df_files = drive.CreateFile({'title' : "meta_df.xlsx"})
meta_df_files.SetContentFile("meta_df.xlsx")
meta_df_files.Upload()
drive.CreateFile({'id': meta_df_files.get("meta_df.xlsx")})

(365, 12)

In [ ]:
meta_df.to_csv("meta_df.csv", index=False)
meta_df_files = drive.CreateFile({'title' : "meta_df.csv"})
meta_df_files.SetContentFile("meta_df.csv")
meta_df_files.Upload()
drive.CreateFile({'id': meta_df_files.get("meta_df.csv")})

GoogleDriveFile({'id': None})

### Load interim results

In [ ]:
# Get list of every available file in google drive
file_list = drive.ListFile({'q': "'root' in parents and trashed=false"}).GetList()
ticker=0
data=dict()
for file1 in file_list:
  if(ticker == 15):
    break
  else:
    data[file1['title']] = file1['id']
  ticker+=1

In [ ]:
for k, v in data.items():
  print(k + " " + v)

df_customers_cleaned_3.csv 1yP3Pymw4Fkp9K6_n-uQ_Su6YFgGmirBo
df_customers_cleaned_2.csv 1vDuhzRuLUQXCnzl7njDcVZ6DmDbCZ5_A
df_customers_cleaned_1.csv 1Eb8SkudrXqF8smDigFHDMUIJmsPACqYm
df_azdias_cleaned_10.csv 1R_ryleBPH_R1uoHvrPEhDF0LhVtQiMkL
df_azdias_cleaned_9.csv 17if_VSLxvnPqw-cQRCWwppP_4pbUpa2p
df_azdias_cleaned_8.csv 1V9iyfiXF-rwRAIwznVcYDkVacFy7Xaxa
df_azdias_cleaned_7.csv 1J2f8ldpqH_5zVXzZ9hBYDLjOVdZD0FAN
df_azdias_cleaned_6.csv 1AdGWWewqYyOrPKJ_75-acJuxSF-lEmCg
df_azdias_cleaned_5.csv 1jAAW1N3-PBtlKk3dGqqMMenPF30JpZL6
df_azdias_cleaned_4.csv 1jwkzS6T9hlSKIagb7GM-mslMQJl1badw
df_azdias_cleaned_3.csv 1uPOdYseNcqYTCb_-XNXAHFnj2U76r8as
df_azdias_cleaned_2.csv 1IWibD14sItQ9z9i9VPQtD33jYzOnlwTI
df_azdias_cleaned_1.csv 1POZj6xeoJPx1_t-9-YEHpyZHqGGAaWjL
meta_df.csv 1Phry8vukY_1Dp-weiHY5288jhwXEb1xG

In [ ]:
download_data = drive.CreateFile({'id': '1POZj6xeoJPx1_t-9-YEHpyZHqGGAaWjL'})
download_data.GetContentFile('df_azdias_cleaned_1.csv')  
df_azdias_cleaned_1 = pd.read_csv('df_azdias_cleaned_1.csv', engine="python")
print("Done")

download_data = drive.CreateFile({'id': '1IWibD14sItQ9z9i9VPQtD33jYzOnlwTI'})
download_data.GetContentFile('df_azdias_cleaned_2.csv')  
df_azdias_cleaned_2 = pd.read_csv('df_azdias_cleaned_2.csv', engine="python")
print("Done")

download_data = drive.CreateFile({'id': '1uPOdYseNcqYTCb_-XNXAHFnj2U76r8as'})
download_data.GetContentFile('df_azdias_cleaned_3.csv')  
df_azdias_cleaned_3 = pd.read_csv('df_azdias_cleaned_3.csv', engine="python")
print("Done")

download_data = drive.CreateFile({'id': '1jwkzS6T9hlSKIagb7GM-mslMQJl1badw'})
download_data.GetContentFile('df_azdias_cleaned_4.csv')  
df_azdias_cleaned_4 = pd.read_csv('df_azdias_cleaned_4.csv', engine="python")
print("Done")

download_data = drive.CreateFile({'id': '1jAAW1N3-PBtlKk3dGqqMMenPF30JpZL6'})
download_data.GetContentFile('df_azdias_cleaned_5.csv')  
df_azdias_cleaned_5 = pd.read_csv('df_azdias_cleaned_5.csv', engine="python")
print("Done")

download_data = drive.CreateFile({'id': '1AdGWWewqYyOrPKJ_75-acJuxSF-lEmCg'})
download_data.GetContentFile('df_azdias_cleaned_6.csv')  
df_azdias_cleaned_6 = pd.read_csv('df_azdias_cleaned_6.csv', engine="python")
print("Done")

download_data = drive.CreateFile({'id': '1J2f8ldpqH_5zVXzZ9hBYDLjOVdZD0FAN'})
download_data.GetContentFile('df_azdias_cleaned_7.csv')  
df_azdias_cleaned_7 = pd.read_csv('df_azdias_cleaned_7.csv', engine="python")
print("Done")

download_data = drive.CreateFile({'id': '1V9iyfiXF-rwRAIwznVcYDkVacFy7Xaxa'})
download_data.GetContentFile('df_azdias_cleaned_8.csv')  
df_azdias_cleaned_8 = pd.read_csv('df_azdias_cleaned_8.csv', engine="python")
print("Done")

download_data = drive.CreateFile({'id': '17if_VSLxvnPqw-cQRCWwppP_4pbUpa2p'})
download_data.GetContentFile('df_azdias_cleaned_9.csv')  
df_azdias_cleaned_9 = pd.read_csv('df_azdias_cleaned_9.csv', engine="python")
print("Done")

download_data = drive.CreateFile({'id': '1R_ryleBPH_R1uoHvrPEhDF0LhVtQiMkL'})
download_data.GetContentFile('df_azdias_cleaned_10.csv')  
df_azdias_cleaned_10 = pd.read_csv('df_azdias_cleaned_10.csv', engine="python")
print("Done")

Done
Done
Done
Done
Done
Done
Done
Done
Done
Done

In [ ]:
df_azdias = pd.concat([df_azdias_cleaned_1, df_azdias_cleaned_2, df_azdias_cleaned_3, df_azdias_cleaned_4, df_azdias_cleaned_5, df_azdias_cleaned_6, df_azdias_cleaned_7, df_azdias_cleaned_8, df_azdias_cleaned_9, df_azdias_cleaned_10])
df_azdias = df_azdias.reset_index()
df_azdias = df_azdias.drop(columns=["index"])
df_azdias.shape

(785421, 357)

In [ ]:
download_data = drive.CreateFile({'id': '1Eb8SkudrXqF8smDigFHDMUIJmsPACqYm'})
download_data.GetContentFile('df_customers_cleaned_1.csv')  
df_customers_cleaned_1 = pd.read_csv('df_customers_cleaned_1.csv', engine="python")
print("Done")

download_data = drive.CreateFile({'id': '1vDuhzRuLUQXCnzl7njDcVZ6DmDbCZ5_A'})
download_data.GetContentFile('f_customers_cleaned_2.csv')  
f_customers_cleaned_2 = pd.read_csv('f_customers_cleaned_2.csv', engine="python")
print("Done")

download_data = drive.CreateFile({'id': '1yP3Pymw4Fkp9K6_n-uQ_Su6YFgGmirBo'})
download_data.GetContentFile('df_customers_cleaned_3.csv')  
df_customers_cleaned_3 = pd.read_csv('df_customers_cleaned_3.csv', engine="python")
print("Done")

Done
Done
Done

In [ ]:
df_customers = pd.concat([df_customers_cleaned_1, df_customers_cleaned_2, df_customers_cleaned_3])
df_customers = df_customers.reset_index()
df_customers = df_customers.drop(columns=["index"])
df_customers.shape

(161652, 360)

In [ ]:
meta_df_new = create_meta_dataframa()
meta_df_new.shape

(357, 12)

In [ ]:
meta_df_new.head(3)

,column_name,na_percentage_azdias,na_percentage_customers,dtypes_azdias,dtypes_customers,n_dtypes_azdias,n_dtypes_customers,unique_values_azdias,unique_values_customers,description,action,reason
0,AGER_TYP,0.0,0.0000,{<class 'int'>},{<class 'int'>},1,1,5,5,best-ager typology,Keep,None
1,AKT_DAT_KL,0.0,0.2444,{<class 'float'>},{<class 'float'>},1,1,9,9,No description available.,Keep,None
2,ALTER_HH,0.0,0.2444,{<class 'float'>},{<class 'float'>},1,1,22,21,main age within the household,Keep,None

### Check columns with too many unique values

In [ ]:
meta_df_new.loc[meta_df_new["unique_values_azdias"] > 15].sort_values(by="unique_values_azdias", ascending=False).head(20)

,column_name,na_percentage_azdias,na_percentage_customers,dtypes_azdias,dtypes_customers,n_dtypes_azdias,n_dtypes_customers,unique_values_azdias,unique_values_customers,description,action,reason
184,KBA13_ANZAHL_PKW,0.0000,0.2686,{<class 'float'>},{<class 'float'>},1,1,1261,1250,number of cars in the PLZ8,Keep,None
4,ANZ_HAUSHALTE_AKTIV,0.0000,0.2616,{<class 'float'>},{<class 'float'>},1,1,292,211,number of households in the building,Keep,None
8,ANZ_STATISTISCHE_HAUSHALTE,0.0000,0.2616,{<class 'float'>},{<class 'float'>},1,1,263,206,No description available.,Keep,None
103,GEBURTSJAHR,0.0000,0.0000,{<class 'int'>},{<class 'int'>},1,1,117,113,year of birth,Keep,None
344,VERDICHTUNGSRAUM,0.0052,0.2645,{<class 'float'>},{<class 'float'>},1,1,46,46,No description available.,Keep,None
298,LP_LEBENSPHASE_FEIN,0.0060,0.0165,{<class 'float'>},{<class 'float'>},1,1,41,41,lifestage fine,Keep,None
91,EINGEZOGENAM_HH_JAHR,0.0000,0.2444,{<class 'float'>},{<class 'float'>},1,1,37,33,No description available.,Keep,None
7,ANZ_PERSONEN,0.0000,0.2444,{<class 'float'>},{<class 'float'>},1,1,29,17,number of adult persons in the household,Keep,None
302,MIN_GEBAEUDEJAHR,0.0000,0.2616,{<class 'float'>},{<class 'float'>},1,1,29,32,year the building was first mentioned in our d...,Keep,None
3,ALTERSKATEGORIE_FEIN,0.2287,0.2719,{<class 'float'>},{<class 'float'>},1,1,26,25,No description available.,Keep,None
90,EINGEFUEGT_AM,0.0000,0.2616,{<class 'int'>},{<class 'float'>},1,1,23,25,No description available.,Keep,None
2,ALTER_HH,0.0000,0.2444,{<class 'float'>},{<class 'float'>},1,1,22,21,main age within the household,Keep,None
5,ANZ_HH_TITEL,0.0047,0.2731,{<class 'float'>},{<class 'float'>},1,1,20,20,number of academic title holder in building,Keep,None
316,PRAEGENDE_JUGENDJAHRE,0.0000,0.0000,{<class 'int'>},{<class 'int'>},1,1,16,16,dominating movement in the person's youth (ava...,Keep,None

In [ ]:
df_attributes_values.loc[df_attributes_values["attribute"] == "PRAEGENDE_JUGENDJAHRE"]

,attribute,description,value,meaning
2055,PRAEGENDE_JUGENDJAHRE,dominating movement in the person's youth (ava...,"-1, 0",unknown
2056,PRAEGENDE_JUGENDJAHRE,dominating movement in the person's youth (ava...,1,"40ies - war years (Mainstream, O+W)"
2057,PRAEGENDE_JUGENDJAHRE,dominating movement in the person's youth (ava...,2,"40ies - reconstruction years (Avantgarde, O+W)"
2058,PRAEGENDE_JUGENDJAHRE,dominating movement in the person's youth (ava...,3,"50ies - economic miracle (Mainstream, O+W)"
2059,PRAEGENDE_JUGENDJAHRE,dominating movement in the person's youth (ava...,4,50ies - milk bar / Individualisation (Avantgar...
2060,PRAEGENDE_JUGENDJAHRE,dominating movement in the person's youth (ava...,5,"60ies - economic miracle (Mainstream, O+W)"
2061,PRAEGENDE_JUGENDJAHRE,dominating movement in the person's youth (ava...,6,60ies - generation 68 / student protestors (Av...
2062,PRAEGENDE_JUGENDJAHRE,dominating movement in the person's youth (ava...,7,60ies - opponents to the building of the Wall ...
2063,PRAEGENDE_JUGENDJAHRE,dominating movement in the person's youth (ava...,8,"70ies - family orientation (Mainstream, O+W)"
2064,PRAEGENDE_JUGENDJAHRE,dominating movement in the person's youth (ava...,9,"70ies - peace movement (Avantgarde, O+W)"
2065,PRAEGENDE_JUGENDJAHRE,dominating movement in the person's youth (ava...,10,"80ies - Generation Golf (Mainstream, W)"
2066,PRAEGENDE_JUGENDJAHRE,dominating movement in the person's youth (ava...,11,"80ies - ecological awareness (Avantgarde, W)"
2067,PRAEGENDE_JUGENDJAHRE,dominating movement in the person's youth (ava...,12,80ies - FDJ / communist party youth organisati...
2068,PRAEGENDE_JUGENDJAHRE,dominating movement in the person's youth (ava...,13,"80ies - Swords into ploughshares (Avantgarde, O)"
2069,PRAEGENDE_JUGENDJAHRE,dominating movement in the person's youth (ava...,14,"90ies - digital media kids (Mainstream, O+W)"
2070,PRAEGENDE_JUGENDJAHRE,dominating movement in the person's youth (ava...,15,"90ies - ecological awareness (Avantgarde, O+W)"

In [ ]:
df_azdias["PRAEGENDE_JUGENDJAHRE"].value_counts()

14    180126
8     139188
10     84474
5      83753
3      53171
15     41678
11     35126
9      33133
0      27536
6      25442
12     24139
1      20325
4      20304
2       7435
13      5631
7       3960
Name: PRAEGENDE_JUGENDJAHRE, dtype: int64

In [ ]:
# Reduce these categories to decades
df_azdias["PRAEGENDE_JUGENDJAHRE"] = df_azdias["PRAEGENDE_JUGENDJAHRE"].apply(engineer_PRAEGENDE_JUGENDJAHRE)
df_customers["PRAEGENDE_JUGENDJAHRE"] = df_customers["PRAEGENDE_JUGENDJAHRE"].apply(engineer_PRAEGENDE_JUGENDJAHRE)

In [ ]:
# Check if it worked
df_azdias["PRAEGENDE_JUGENDJAHRE"].value_counts()

90.0    221804
70.0    172321
80.0    149370
60.0    113155
50.0     73475
40.0     27760
Name: PRAEGENDE_JUGENDJAHRE, dtype: int64

In [ ]:
# ALTERSKATEGORIE_FEIN
# No description available, too many categories, also redundant to ALTERSKATEGORIE_GROB
# Drop
print(f"Shape old df_azdias: {df_azdias.shape}")
print(f"Shape old df_customers: {df_customers.shape}")
df_azdias = df_azdias.drop(columns=["ALTERSKATEGORIE_FEIN"])
df_customers = df_customers.drop(columns=["ALTERSKATEGORIE_FEIN"])
print(f"Shape new df_azdias: {df_azdias.shape}")
print(f"Shape new df_customers: {df_customers.shape}")

Shape old df_azdias: (785421, 357)
Shape old df_customers: (161652, 360)
Shape new df_azdias: (785421, 356)
Shape new df_customers: (161652, 359)

In [ ]:
# ALTER_HH

In [ ]:
df_azdias["ALTER_HH"].value_counts()

0.0     225359
18.0     58406
17.0     53470
19.0     50863
16.0     49965
15.0     49930
14.0     42599
21.0     40395
20.0     39387
13.0     36284
12.0     33683
10.0     29407
11.0     26993
9.0      22085
8.0      13015
7.0       8146
6.0       3641
5.0        984
4.0        576
3.0        187
2.0         45
1.0          1
Name: ALTER_HH, dtype: int64

In [ ]:
# Reduce these categories to decades of birth
df_azdias["ALTER_HH"] = df_azdias["ALTER_HH"].apply(engineer_ALTER_HH)
df_customers["ALTER_HH"] = df_customers["ALTER_HH"].apply(engineer_ALTER_HH)

In [ ]:
# Check if it worked
df_azdias["ALTER_HH"].value_counts()

90.0     109269
80.0     103435
70.0      92529
100.0     79782
60.0      69967
50.0      56400
40.0      35100
30.0      11787
20.0       1560
10.0        233
Name: ALTER_HH, dtype: int64

In [ ]:
# VERDICHTUNGSRAUM
df_azdias["VERDICHTUNGSRAUM"].value_counts()

0.0     362869
1.0     109541
2.0      46658
3.0      29271
4.0      26338
5.0      23742
6.0      21556
7.0      12967
8.0      11739
10.0     10929
9.0       9370
13.0      8642
11.0      8134
14.0      8101
12.0      7964
15.0      6863
16.0      6261
17.0      5414
18.0      4961
20.0      3513
22.0      3436
21.0      3328
19.0      3269
23.0      3176
24.0      2931
25.0      2832
27.0      2581
30.0      2549
26.0      2543
29.0      2497
28.0      2421
32.0      2361
31.0      2252
33.0      2213
34.0      2027
36.0      1913
35.0      1751
39.0      1639
38.0      1605
44.0      1409
40.0      1344
37.0      1338
42.0      1313
43.0      1312
41.0      1310
45.0      1151
Name: VERDICHTUNGSRAUM, dtype: int64

In [ ]:
# No description available, too many categories, also redundant to ALTERSKATEGORIE_GROB
# Drop
print(f"Shape old df_azdias: {df_azdias.shape}")
print(f"Shape old df_customers: {df_customers.shape}")
df_azdias = df_azdias.drop(columns=["VERDICHTUNGSRAUM"])
df_customers = df_customers.drop(columns=["VERDICHTUNGSRAUM"])
print(f"Shape new df_azdias: {df_azdias.shape}")
print(f"Shape new df_customers: {df_customers.shape}")

In [ ]:
# VERDICHTUNGSRAUM
df_azdias["EINGEZOGENAM_HH_JAHR"].value_counts()
# Year / Keep

In [ ]:
# VK_DISTANZ, VK_DHT4A, VK_ZG11
# No description available, meaning unkknown, drop
# Drop
print(f"Shape old df_azdias: {df_azdias.shape}")
print(f"Shape old df_customers: {df_customers.shape}")
df_azdias = df_azdias.drop(columns=["VK_DISTANZ", "VK_DHT4A", "VK_ZG11"])
df_customers = df_customers.drop(columns=["VK_DISTANZ", "VK_DHT4A", "VK_ZG11"])
print(f"Shape new df_azdias: {df_azdias.shape}")
print(f"Shape new df_customers: {df_customers.shape}")

Shape old df_azdias: (785421, 356)
Shape old df_customers: (161652, 359)
Shape new df_azdias: (785421, 353)
Shape new df_customers: (161652, 356)

In [ ]:
df_azdias["D19_VERSI_DATUM"].value_counts()

10    563223
9      77218
8      34969
5      28005
6      22334
7      20243
2      15352
4       9243
1       8456
3       6378
Name: D19_VERSI_DATUM, dtype: int64

In [ ]:
D19_VERSI_DATUM

In [ ]:
VK_DHT4A

In [ ]:
VK_ZG11

In [ ]:
df_attributes_values.loc[df_attributes_values["attribute"] == "ALTER_HH"]

,attribute,description,value,meaning
12,ALTER_HH,main age within the household,0,unknown / no main age detectable
13,ALTER_HH,main age within the household,1,01.01.1895 bis 31.12.1899
14,ALTER_HH,main age within the household,2,01.01.1900 bis 31.12.1904
15,ALTER_HH,main age within the household,3,01.01.1905 bis 31.12.1909
16,ALTER_HH,main age within the household,4,01.01.1910 bis 31.12.1914
17,ALTER_HH,main age within the household,5,01.01.1915 bis 31.12.1919
18,ALTER_HH,main age within the household,6,01.01.1920 bis 31.12.1924
19,ALTER_HH,main age within the household,7,01.01.1925 bis 31.12.1929
20,ALTER_HH,main age within the household,8,01.01.1930 bis 31.12.1934
21,ALTER_HH,main age within the household,9,01.01.1935 bis 31.12.1939
22,ALTER_HH,main age within the household,10,01.01.1940 bis 31.12.1944
23,ALTER_HH,main age within the household,11,01.01.1945 bis 31.12.1949
24,ALTER_HH,main age within the household,12,01.01.1950 bis 31.12.1954
25,ALTER_HH,main age within the household,13,01.01.1955 bis 31.12.1959
26,ALTER_HH,main age within the household,14,01.01.1960 bis 31.12.1964
27,ALTER_HH,main age within the household,15,01.01.1965 bis 31.12.1969
28,ALTER_HH,main age within the household,16,01.01.1970 bis 31.12.1974
29,ALTER_HH,main age within the household,17,01.01.1975 bis 31.12.1979
30,ALTER_HH,main age within the household,18,01.01.1980 bis 31.12.1984
31,ALTER_HH,main age within the household,19,01.01.1985 bis 31.12.1989
32,ALTER_HH,main age within the household,20,01.01.1990 bis 31.12.1994
33,ALTER_HH,main age within the household,21,01.01.1995 bis 31.12.1999

In [ ]:
meta_df.to_excel("meta_df.xlsx", index=False)
meta_df_files = drive.CreateFile({'title' : "meta_df.xlsx"})
meta_df_files.SetContentFile("meta_df.xlsx")
meta_df_files.Upload()
drive.CreateFile({'id': meta_df_files.get("meta_df.xlsx")})

GoogleDriveFile({'id': None})

In [ ]:
df_attributes_values.loc[df_attributes_values["attribute"] == "ALTERSKATEGORIE_GROB"]

,attribute,description,value,meaning
6,ALTERSKATEGORIE_GROB,age classification through prename analysis,"-1, 0",unknown
7,ALTERSKATEGORIE_GROB,age classification through prename analysis,1,< 30 years
8,ALTERSKATEGORIE_GROB,age classification through prename analysis,2,30 - 45 years
9,ALTERSKATEGORIE_GROB,age classification through prename analysis,3,46 - 60 years
10,ALTERSKATEGORIE_GROB,age classification through prename analysis,4,> 60 years
11,ALTERSKATEGORIE_GROB,age classification through prename analysis,9,uniformly distributed

In [ ]:
ALTERSKATEGORIE_FEIN

In [ ]:
meta_df.loc[meta_df["column_name"] == "ALTERSKATEGORIE_FEIN"]

,column_name,na_percentage_azdias,na_percentage_customers,dtypes_azdias,dtypes_customers,n_dtypes_azdias,n_dtypes_customers,unique_values_azdias,unique_values_customers,description,action,reason
7,ALTERSKATEGORIE_FEIN,0.295,0.2705,{<class 'float'>},{<class 'float'>},1,1,26,25,No description available.,Keep,None