<a href="https://colab.research.google.com/github/TobiPrae/customer_segmentation/blob/main/CustomerSegmentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import packages

In [1]:
# import libraries here; add more as necessary
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 500)
import matplotlib.pyplot as plt
import seaborn as sns

# magic word for producing visualizations in notebook
%matplotlib inline
print("Libraries successfully imported")

Libraries successfully imported

In [2]:
!pip install -U -q PyDrive

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

print("Everything successfully set up")

Everything successfully set up

# Load data

In [3]:
# Get list of every available file in google drive
#file_list = drive.ListFile({'q': "'root' in parents and trashed=false"}).GetList()
#for file1 in file_list:
#  print('title: %s, id: %s' % (file1['title'], file1['id']))

In [4]:
# download demographic data
download_data = drive.CreateFile({'id': '135UcsbUyLcwS16QHa7lFcXHKhuy7HwWF'})
download_data.GetContentFile('azdias.csv')  
df_azdias = pd.read_csv('azdias.csv', engine="python", sep=';')

print(df_azdias.shape)

(891221, 366)

In [5]:
# download customer data
download_data = drive.CreateFile({'id': '1eDq76GDZLXeonowxPrbwF-EHZwvaENLK'})
download_data.GetContentFile('customers.csv')  
df_customers = pd.read_csv('customers.csv', engine="python", sep=';')

print(df_customers.shape)

(191652, 369)

In [6]:
# download attribute values and clean them
download_data = drive.CreateFile({'id': '1wFNhCQm7Cv9CGJ7Pm_RbtrJdnLb4zyuC'})
download_data.GetContentFile('attributes_values.xlsx')  
df_attributes_values = pd.read_excel('attributes_values.xlsx', names=["None", "attribute", "description", "value", "meaning"])
df_attributes_values = df_attributes_values.drop(columns=['None'])[1:]
print(df_attributes_values.shape)

(2258, 4)

In [7]:
# download attribute information levels and clean them
download_data = drive.CreateFile({'id': '1icPBxHTV0zysKvQSJhSDPDhyH8Qd3uqW'})
download_data.GetContentFile('information_levels_attributes.xlsx')  
df_information_levels = pd.read_excel('information_levels_attributes.xlsx', names=["None", "Information_Level", "attribute", "description", "additional_notes"])
df_information_levels = df_information_levels.drop(columns=["None"])[1:]
print(df_information_levels.shape)

(313, 4)

# Functions

In [8]:
def get_column_nans(df, sorting_order_ascending=False):
    '''
    Analyzes dataframe by counting nan values for each column.
    
    Args
    - df: Dataframe to be analyzed
    - sorting_order_ascending: Indicates how df will be ordered (default=False)
    
    Returns
    - df_nan: Df that contains na count and percentage for each column
    '''
    df_nan = pd.DataFrame(df.apply(lambda x: x.isna().sum()), columns=["count"]).sort_values(by="count", ascending=sorting_order_ascending)
    df_nan["na_percentage"] = df_nan["count"].apply(lambda x: x/df.shape[0])
    
    return df_nan

# Part 1: Customer Segmentation Report

### Get a quick overview over nan values

In [9]:
# get nans for demographic data
df_azdias_nan = get_column_nans(df_azdias)
df_azdias_nan.head(10)

                              count  na_percentage
ALTER_KIND4                  890016       0.998648
ALTER_KIND3                  885051       0.993077
ALTER_KIND2                  861722       0.966900
ALTER_KIND1                  810163       0.909048
EXTSEL992                    654153       0.733996
KK_KUNDENTYP                 584612       0.655967
ALTERSKATEGORIE_FEIN         262947       0.295041
D19_VERSAND_ONLINE_QUOTE_12  257113       0.288495
D19_LOTTO                    257113       0.288495
D19_BANKEN_ONLINE_QUOTE_12   257113       0.288495

In [10]:
# get nans for customer data
df_customers_nan = get_column_nans(df_customers)
df_customers_nan.head(10)

                  count  na_percentage
ALTER_KIND4      191416       0.998769
ALTER_KIND3      190377       0.993347
ALTER_KIND2      186552       0.973389
ALTER_KIND1      179886       0.938607
KK_KUNDENTYP     111937       0.584064
EXTSEL992         85283       0.444989
KBA05_KRSOBER     55980       0.292092
KBA05_KRSHERST1   55980       0.292092
KBA05_GBZ         55980       0.292092
KBA05_HERST1      55980       0.292092

### Which colums differ between df_azdias and df_customers?

In [11]:
# Check which columns differ between the two data sets
only_customer_cols = list(set(df_customers_nan.index.tolist()).difference(set(df_azdias_nan.index.tolist())))
only_customer_cols

['PRODUCT_GROUP', 'ONLINE_PURCHASE', 'CUSTOMER_GROUP']

In [12]:
# Inspect the column that are only in customer df
df_customers[only_customer_cols].head(5)

       PRODUCT_GROUP  ONLINE_PURCHASE CUSTOMER_GROUP
0  COSMETIC_AND_FOOD                0    MULTI_BUYER
1               FOOD                0   SINGLE_BUYER
2  COSMETIC_AND_FOOD                0    MULTI_BUYER
3           COSMETIC                0    MULTI_BUYER
4               FOOD                0    MULTI_BUYER

In [13]:
# Check na percentage for columns that are only in customer df
df_customers_nan.loc[df_customers_nan.index.isin(only_customer_cols)]

                 count  na_percentage
ONLINE_PURCHASE      0            0.0
CUSTOMER_GROUP       0            0.0
PRODUCT_GROUP        0            0.0

### How are numeric and non-numeric columns distributed?

In [14]:
# Check all for unique dtypes in df_azdias
set(df_azdias.dtypes)

{dtype('int64'), dtype('float64'), dtype('O')}

In [15]:
# Check out how many numeric and how many non-numeric cols we have
num_cols, non_num_cols = [], []

for col in df_azdias.columns:
  if(df_azdias[col].dtype == "O"):
    non_num_cols.append(col)
  else:
    num_cols.append(col)

print(f"num_cols: {len(num_cols)}")
print(f"non_num_cols: {len(non_num_cols)}")

num_cols: 360
non_num_cols: 6

### Analyze the nom-numeric columns

In [16]:
# Subset df_azdias to inspect non_num_cols
df_azdias[non_num_cols].head(3)

,CAMEO_DEU_2015,CAMEO_DEUG_2015,CAMEO_INTL_2015,D19_LETZTER_KAUF_BRANCHE,EINGEFUEGT_AM,OST_WEST_KZ
0,NaN,NaN,NaN,NaN,NaN,NaN
1,8A,8,51,NaN,1992-02-10 00:00:00,W
2,4C,4,24,D19_UNBEKANNT,1992-02-12 00:00:00,W

In [27]:
# Get further description for non_num_cols
df_information_levels.loc[df_information_levels["attribute"].isin(non_num_cols)]

,Information_Level,attribute,description,additional_notes
84,NaN,OST_WEST_KZ,flag indicating the former GDR/FRG,NaN
86,Microcell (RR4_ID),CAMEO_DEUG_2015,CAMEO_4.0: uppergroup,New German CAMEO Typology established together...
87,NaN,CAMEO_DEU_2015,CAMEO_4.0: specific group,NaN

In [28]:
# Get nan values for non_num_cols in demographic data
df_azdias_nan.loc[df_azdias_nan.index.isin(non_num_cols)]

                           count  na_percentage
D19_LETZTER_KAUF_BRANCHE  257113       0.288495
CAMEO_DEU_2015             98979       0.111060
CAMEO_DEUG_2015            98979       0.111060
CAMEO_INTL_2015            98979       0.111060
EINGEFUEGT_AM              93148       0.104517
OST_WEST_KZ                93148       0.104517

In [19]:
# Get nan values for non_num_cols in customers data
df_customers_nan.loc[df_customers_nan.index.isin(non_num_cols)]

                          count  na_percentage
CAMEO_DEU_2015            50428       0.263123
CAMEO_DEUG_2015           50428       0.263123
CAMEO_INTL_2015           50428       0.263123
OST_WEST_KZ               49927       0.260509
EINGEFUEGT_AM             49927       0.260509
D19_LETZTER_KAUF_BRANCHE  47697       0.248873

In [29]:
# Forward filling the attribute values df for better filtering/slicing
df_attributes_values["attribute"] = df_attributes_values["attribute"].fillna(method="ffill")
df_attributes_values["description"] = df_attributes_values["description"].fillna(method="ffill")
df_attributes_values.head(10)

,attribute,description,value,meaning
1,AGER_TYP,best-ager typology,-1,unknown
2,AGER_TYP,best-ager typology,0,no classification possible
3,AGER_TYP,best-ager typology,1,passive elderly
4,AGER_TYP,best-ager typology,2,cultural elderly
5,AGER_TYP,best-ager typology,3,experience-driven elderly
6,ALTERSKATEGORIE_GROB,age classification through prename analysis,"-1, 0",unknown
7,ALTERSKATEGORIE_GROB,age classification through prename analysis,1,< 30 years
8,ALTERSKATEGORIE_GROB,age classification through prename analysis,2,30 - 45 years
9,ALTERSKATEGORIE_GROB,age classification through prename analysis,3,46 - 60 years
10,ALTERSKATEGORIE_GROB,age classification through prename analysis,4,> 60 years

In [31]:
# CAMEO_DEU_2015
df_attributes_values.loc[df_attributes_values["attribute"] == "CAMEO_DEU_2015"].head(5)

,attribute,description,value,meaning
62,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,1A,Work-Life-Balance
63,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,1B,Wealthy Best Ager
64,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,1C,Successful Songwriter
65,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,1D,Old Nobility
66,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,1E,City Nobility

In [32]:
# CAMEO_DEUG_2015
df_attributes_values.loc[df_attributes_values["attribute"] == "CAMEO_DEUG_2015"].head(5)

,attribute,description,value,meaning
52,CAMEO_DEUG_2015,CAMEO classification 2015 - Uppergroup,-1,unknown
53,CAMEO_DEUG_2015,CAMEO classification 2015 - Uppergroup,1,upper class
54,CAMEO_DEUG_2015,CAMEO classification 2015 - Uppergroup,2,upper middleclass
55,CAMEO_DEUG_2015,CAMEO classification 2015 - Uppergroup,3,established middleclasse
56,CAMEO_DEUG_2015,CAMEO classification 2015 - Uppergroup,4,consumption-oriented middleclass

In [33]:
# OST_WEST_KZ
df_attributes_values.loc[df_attributes_values["attribute"] == "OST_WEST_KZ"].head(5)

        attribute                         description value     meaning
2014  OST_WEST_KZ  flag indicating the former GDR/FRG    -1     unknown
2015  OST_WEST_KZ  flag indicating the former GDR/FRG     O  East (GDR)
2016  OST_WEST_KZ  flag indicating the former GDR/FRG     W  West (FRG)

In [35]:
# D19_LETZTER_KAUF_BRANCHE
set(df_customers["D19_LETZTER_KAUF_BRANCHE"].tolist())

{'D19_BANKEN_DIREKT',
 'D19_BANKEN_GROSS',
 'D19_BANKEN_LOKAL',
 'D19_BANKEN_REST',
 'D19_BEKLEIDUNG_GEH',
 'D19_BEKLEIDUNG_REST',
 'D19_BILDUNG',
 'D19_BIO_OEKO',
 'D19_BUCH_CD',
 'D19_DIGIT_SERV',
 'D19_DROGERIEARTIKEL',
 'D19_ENERGIE',
 'D19_FREIZEIT',
 'D19_GARTEN',
 'D19_HANDWERK',
 'D19_HAUS_DEKO',
 'D19_KINDERARTIKEL',
 'D19_KOSMETIK',
 'D19_LEBENSMITTEL',
 'D19_LOTTO',
 'D19_NAHRUNGSERGAENZUNG',
 'D19_RATGEBER',
 'D19_REISEN',
 'D19_SAMMELARTIKEL',
 'D19_SCHUHE',
 'D19_SONSTIGE',
 'D19_TECHNIK',
 'D19_TELKO_MOBILE',
 'D19_TELKO_REST',
 'D19_TIERARTIKEL',
 'D19_UNBEKANNT',
 'D19_VERSAND_REST',
 'D19_VERSICHERUNGEN',
 'D19_VOLLSORTIMENT',
 'D19_WEIN_FEINKOST',
 nan}

### Analyze the numeric columns

In [73]:
for col in num_cols[1:]:
  col_series = df_azdias[col]
  print(f"{col}: ")
  print(f"unique values: {set(col_series.tolist())}")
  print("___________________________________________________________")

AGER_TYP:
unique values: {0, 1, 2, 3, -1}
___________________________________________________________
AKT_DAT_KL:

KeyboardInterrupt: ignored

In [62]:
df_azdias["AGER_TYP"]

0        -1
1        -1
2        -1
3         2
4        -1
         ..
891216   -1
891217   -1
891218   -1
891219   -1
891220   -1
Name: AGER_TYP, Length: 891221, dtype: int64

In [45]:
df_azdias[num_cols].head(3)

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,ANZ_HH_TITEL,ANZ_KINDER,ANZ_PERSONEN,ANZ_STATISTISCHE_HAUSHALTE,ANZ_TITEL,ARBEIT,BALLRAUM,CJT_GESAMTTYP,CJT_KATALOGNUTZER,CJT_TYP_1,CJT_TYP_2,CJT_TYP_3,CJT_TYP_4,CJT_TYP_5,CJT_TYP_6,D19_BANKEN_ANZ_12,D19_BANKEN_ANZ_24,D19_BANKEN_DATUM,D19_BANKEN_DIREKT,D19_BANKEN_GROSS,D19_BANKEN_LOKAL,D19_BANKEN_OFFLINE_DATUM,D19_BANKEN_ONLINE_DATUM,D19_BANKEN_ONLINE_QUOTE_12,D19_BANKEN_REST,D19_BEKLEIDUNG_GEH,D19_BEKLEIDUNG_REST,D19_BILDUNG,D19_BIO_OEKO,D19_BUCH_CD,D19_DIGIT_SERV,D19_DROGERIEARTIKEL,D19_ENERGIE,D19_FREIZEIT,D19_GARTEN,D19_GESAMT_ANZ_12,D19_GESAMT_ANZ_24,D19_GESAMT_DATUM,D19_GESAMT_OFFLINE_DATUM,D19_GESAMT_ONLINE_DATUM,D19_GESAMT_ONLINE_QUOTE_12,D19_HANDWERK,D19_HAUS_DEKO,D19_KINDERARTIKEL,D19_KONSUMTYP,D19_KONSUMTYP_MAX,D19_KOSMETIK,D19_LEBENSMITTEL,D19_LOTTO,D19_NAHRUNGSERGAENZUNG,D19_RATGEBER,D19_REISEN,D19_SAMMELARTIKEL,D19_SCHUHE,D19_SONSTIGE,D19_SOZIALES,D19_TECHNIK,D19_TELKO_ANZ_12,D19_TELKO_ANZ_24,D19_TELKO_DATUM,D19_TELKO_MOBILE,D19_TELKO_OFFLINE_DATUM,D19_TELKO_ONLINE_DATUM,D19_TELKO_ONLINE_QUOTE_12,D19_TELKO_REST,D19_TIERARTIKEL,D19_VERSAND_ANZ_12,D19_VERSAND_ANZ_24,D19_VERSAND_DATUM,D19_VERSAND_OFFLINE_DATUM,D19_VERSAND_ONLINE_DATUM,D19_VERSAND_ONLINE_QUOTE_12,D19_VERSAND_REST,D19_VERSI_ANZ_12,D19_VERSI_ANZ_24,D19_VERSI_DATUM,D19_VERSI_OFFLINE_DATUM,D19_VERSI_ONLINE_DATUM,D19_VERSI_ONLINE_QUOTE_12,D19_VERSICHERUNGEN,D19_VOLLSORTIMENT,D19_WEIN_FEINKOST,DSL_FLAG,EINGEZOGENAM_HH_JAHR,EWDICHTE,EXTSEL992,FINANZ_ANLEGER,FINANZ_HAUSBAUER,FINANZ_MINIMALIST,FINANZ_SPARER,FINANZ_UNAUFFAELLIGER,FINANZ_VORSORGER,FINANZTYP,FIRMENDICHTE,GEBAEUDETYP,GEBAEUDETYP_RASTER,GEBURTSJAHR,GEMEINDETYP,GFK_URLAUBERTYP,GREEN_AVANTGARDE,HEALTH_TYP,HH_DELTA_FLAG,HH_EINKOMMEN_SCORE,INNENSTADT,KBA05_ALTER1,KBA05_ALTER2,KBA05_ALTER3,KBA05_ALTER4,KBA05_ANHANG,KBA05_ANTG1,KBA05_ANTG2,KBA05_ANTG3,KBA05_ANTG4,KBA05_AUTOQUOT,KBA05_BAUMAX,KBA05_CCM1,KBA05_CCM2,KBA05_CCM3,KBA05_CCM4,KBA05_DIESEL,KBA05_FRAU,KBA05_GBZ,KBA05_HERST1,KBA05_HERST2,KBA05_HERST3,KBA05_HERST4,KBA05_HERST5,KBA05_HERSTTEMP,KBA05_KRSAQUOT,KBA05_KRSHERST1,KBA05_KRSHERST2,KBA05_KRSHERST3,KBA05_KRSKLEIN,KBA05_KRSOBER,KBA05_KRSVAN,KBA05_KRSZUL,KBA05_KW1,KBA05_KW2,KBA05_KW3,KBA05_MAXAH,KBA05_MAXBJ,KBA05_MAXHERST,KBA05_MAXSEG,KBA05_MAXVORB,KBA05_MOD1,KBA05_MOD2,KBA05_MOD3,KBA05_MOD4,KBA05_MOD8,KBA05_MODTEMP,KBA05_MOTOR,KBA05_MOTRAD,KBA05_SEG1,KBA05_SEG10,KBA05_SEG2,KBA05_SEG3,KBA05_SEG4,KBA05_SEG5,KBA05_SEG6,KBA05_SEG7,KBA05_SEG8,KBA05_SEG9,KBA05_VORB0,KBA05_VORB1,KBA05_VORB2,KBA05_ZUL1,KBA05_ZUL2,KBA05_ZUL3,KBA05_ZUL4,KBA13_ALTERHALTER_30,KBA13_ALTERHALTER_45,KBA13_ALTERHALTER_60,KBA13_ALTERHALTER_61,KBA13_ANTG1,KBA13_ANTG2,KBA13_ANTG3,KBA13_ANTG4,KBA13_ANZAHL_PKW,KBA13_AUDI,KBA13_AUTOQUOTE,KBA13_BAUMAX,KBA13_BJ_1999,KBA13_BJ_2000,KBA13_BJ_2004,KBA13_BJ_2006,KBA13_BJ_2008,KBA13_BJ_2009,KBA13_BMW,KBA13_CCM_0_1400,KBA13_CCM_1000,KBA13_CCM_1200,KBA13_CCM_1400,KBA13_CCM_1401_2500,KBA13_CCM_1500,KBA13_CCM_1600,KBA13_CCM_1800,KBA13_CCM_2000,KBA13_CCM_2500,KBA13_CCM_2501,KBA13_CCM_3000,KBA13_CCM_3001,KBA13_FAB_ASIEN,KBA13_FAB_SONSTIGE,KBA13_FIAT,KBA13_FORD,KBA13_GBZ,KBA13_HALTER_20,KBA13_HALTER_25,KBA13_HALTER_30,KBA13_HALTER_35,KBA13_HALTER_40,KBA13_HALTER_45,KBA13_HALTER_50,KBA13_HALTER_55,KBA13_HALTER_60,KBA13_HALTER_65,KBA13_HALTER_66,KBA13_HERST_ASIEN,KBA13_HERST_AUDI_VW,KBA13_HERST_BMW_BENZ,KBA13_HERST_EUROPA,KBA13_HERST_FORD_OPEL,KBA13_HERST_SONST,KBA13_HHZ,KBA13_KMH_0_140,KBA13_KMH_110,KBA13_KMH_140,KBA13_KMH_140_210,KBA13_KMH_180,KBA13_KMH_210,KBA13_KMH_211,KBA13_KMH_250,KBA13_KMH_251,KBA13_KRSAQUOT,KBA13_KRSHERST_AUDI_VW,KBA13_KRSHERST_BMW_BENZ,KBA13_KRSHERST_FORD_OPEL,KBA13_KRSSEG_KLEIN,KBA13_KRSSEG_OBER,KBA13_KRSSEG_VAN,KBA13_KRSZUL_NEU,KBA13_KW_0_60,KBA13_KW_110,KBA13_KW_120,KBA13_KW_121,KBA13_KW_30,KBA13_KW_40,KBA13_KW_50,KBA13_KW_60,KBA13_KW_61_120,KBA13_KW_70,KBA13_KW_80,KBA13_KW_90,KBA13_MAZDA,KBA13_MERCEDES,KBA13_MOTOR,KBA13_NISSAN,KBA13_OPEL,KBA13_PEUGEOT,KBA13_RENAULT,KBA13_SEG_GELAENDEWAGEN,KBA13_SEG_GROSSRAUMVANS,KBA13_SEG_KLEINST,KBA13_SEG_KLEINWAGEN,KBA13_SEG_KOMPAKTKLASSE,KBA13_SEG_MINIVANS,KBA13_SEG_MINIWAGEN,KBA13_SEG_MITTELKLASSE,KBA13_SEG_OBEREMITTELKLASSE,KBA13_SEG_OBERKLASSE,KBA13_SEG_SONSTIGE,KBA13_SEG_SPORTWAGEN,KBA13_SEG_UTILITIES,KBA13_SEG_VAN,KBA13_SEG_WOHNMOBILE,KBA13_SITZE_4,KBA13_SITZE_5,KBA13_SITZE_6,KBA13_TOYOTA,KBA13_VORB_0,KBA13_VORB_1,KBA13_VORB_1_2,KBA13_VORB_2,KBA13_VORB_3,KBA13_VW,KK_KUNDENTYP,KKK,KOMBIALTER,KONSUMNAEHE,KONSUMZELLE,LP_FAMILIE_FEIN,LP_FAMILIE_GROB,LP_LEBENSPHASE_FEIN,LP_LEBENSPHASE_GROB,LP_STATUS_FEIN,LP_STATUS_GROB,MIN_GEBAEUDEJAHR,MOBI_RASTER,MOBI_REGIO,NATIONALITAET_KZ,ONLINE_AFFINITAET,ORTSGR_KLS9,PLZ8_ANTG1,PLZ8_ANTG2,PLZ8_ANTG3,PLZ8_ANTG4,PLZ8_BAUMAX,PLZ8_GBZ,PLZ8_HHZ,PRAEGENDE_JUGENDJAHRE,REGIOTYP,RELAT_AB,RETOURTYP_BK_S,RT_KEIN_ANREIZ,RT_SCHNAEPPCHEN,RT_UEBERGROESSE,SEMIO_DOM,SEMIO_ERL,SEMIO_FAM,SEMIO_KAEM,SEMIO_KRIT,SEMIO_KULT,SEMIO_LUST,SEMIO_MAT,SEMIO_PFLICHT,SEMIO_RAT,SEMIO_REL,SEMIO_SOZ,SEMIO_TRADV,SEMIO_VERT,SHOPPER_TYP,SOHO_KZ,STRUKTURTYP,TITEL_KZ,UMFELD_ALT,UMFELD_JUNG,UNGLEICHENN_FLAG,VERDICHTUNGSRAUM,VERS_TYP,VHA,VHN,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,910215,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,5.0,1.0,1.0,5.0,5.0,5.0,5.0,0,0,10,0,0,0,10,10,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,10,10,10,NaN,0,0,0,NaN,9,0,0,NaN,0,0,0,0,0,0,NaN,0,0,0,10,0,10,10,NaN,0,0,0,0,10,10,10,NaN,0,0,0,10,10,10,NaN,0,0,0,NaN,NaN,NaN,NaN,5,3,3,4,5,3,4,NaN,NaN,NaN,0,NaN,10.0,0,-1,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN,NaN,2.0,2.0,15.0,4.0,1.0,1.0,NaN,NaN,NaN,0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,5.0,1.0,4.0,1.0,6,3,6,6,7,3,5,5,5,4,7,2,3,1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2
1,910220,-1,9.0,0.0,NaN,NaN,NaN,NaN,21.0,11.0,0.0,0.0,2.0,12.0,0.0,3.0,6.0,5.0,1.0,5.0,5.0,2.0,3.0,1.0,1.0,0,0,10,0,0,0,10,10,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,10,10,10,NaN,0,0,0,NaN,9,0,0,NaN,0,0,0,0,0,0,NaN,0,0,0,10,0,10,10,NaN,0,0,0,0,10,10,10,NaN,0,0,0,10,10,10,NaN,0,0,0,1.0,2004.0,3.0,NaN,5,5,1,5,4,2,1,2.0,8.0,3.0,1996,22.0,10.0,0,3,0.0,6.0,8.0,3.0,4.0,1.0,4.0,0.0,0.0,0.0,0.0,2.0,1.0,5.0,1.0,5.0,1.0,4.0,2.0,4.0,1.0,5.0,5.0,2.0,2.0,0.0,4.0,1.0,5.0,4.0,2.0,1.0,2.0,1.0,2.0,1.0,3.0,4.0,2.0,1.0,2.0,4.0,3.0,3.0,2.0,2.0,0.0,0.0,1.0,3.0,0.0,0.0,4.0,1.0,2.0,2.0,2.0,1.0,3.0,3.0,0.0,1.0,1.0,5.0,5.0,1.0,0.0,2.0,3.0,2.0,3.0,4.0,2.0,4.0,2.0,1.0,963.0,4.0,2.0,2.0,3.0,3.0,3.0,3.0,3.0,2.0,3.0,2.0,0.0,0.0,4.0,3.0,1.0,2.0,2.0,5.0,3.0,3.0,0.0,5.0,2.0,3.0,4.0,2.0,4.0,3.0,3.0,3.0,3.0,3.0,2.0,2.0,3.0,3.0,3.0,4.0,1.0,4.0,4.0,4.0,2.0,3.0,5.0,3.0,1.0,3.0,3.0,2.0,4.0,3.0,3.0,1.0,2.0,4.0,3.0,3.0,2.0,2.0,2.0,1.0,3.0,4.0,4.0,3.0,1.0,2.0,4.0,0.0,3.0,1.0,2.0,3.0,2.0,4.0,3.0,2.0,3.0,4.0,3.0,2.0,3.0,2.0,2.0,5.0,4.0,2.0,3.0,3.0,3.0,2.0,3.0,3.0,4.0,2.0,3.0,3.0,4.0,2.0,3.0,3.0,3.0,3.0,3.0,4.0,NaN,2.0,1,1.0,1.0,5.0,3.0,21.0,6.0,2.0,1.0,1992.0,1.0,1.0,1,3.0,5.0,2.0,3.0,2.0,1.0,1.0,4.0,5.0,14,3.0,4.0,1.0,5.0,3.0,5.0,7,2,4,4,4,3,2,3,7,6,4,5,6,1,3,1.0,2.0,0.0,3.0,3.0,1.0,0.0,2,0.0,4.0,8.0,11.0,10.0,3.0,9.0,4.0,5,2,1
2,910225,-1,9.0,17.0,NaN,NaN,NaN,NaN,17.0,10.0,0.0,0.0,1.0,7.0,0.0,3.0,2.0,3.0,2.0,4.0,4.0,1.0,3.0,2.0,2.0,0,0,10,0,0,0,10,10,0.0,0,0,0,6,0,0,0,0,0,0,0,0,0,10,10,10,0.0,0,0,0,9.0,8,6,0,0.0,0,0,0,0,0,6,0.0,6,0,0,10,0,10,10,0.0,0,0,0,0,10,10,10,0.0,0,0,0,10,10,10,0.0,0,7,0,1.0,2000.0,4.0,14.0,2,5,1,4,3,1,1,4.0,1.0,4.0,1979,22.0,10.0,1,3,0.0,4.0,4.0,2.0,3.0,3.0,3.0,0.0,1.0,3.0,1.0,0.0,3.0,0.0,5.0,2.0,3.0,0.0,0.0,3.0,3.0,2.0,2.0,3.0,2.0,5.0,4.0,3.0,3.0,2.0,3.0,3.0,2.0,2.0,3.0,3.0,2.0,2.0,3.0,4.0,5.0,1.0,1.0,0.0,2.0,5.0,1.0,1.0,4.0,1.0,1.0,2.0,1.0,5.0,3.0,3.0,1.0,0.0,0.0,0.0,1.0,4.0,2.0,3.0,2.0,3.0,4.0,4.0,3.0,2.0,3.0,3.0,2.0,3.0,1.0,0.0,712.0,3.0,3.0,1.0,2.0,2.0,4.0,5.0,3.0,1.0,4.0,1.0,1.0,2.0,2.0,3.0,4.0,3.0,4.0,3.0,3.0,4.0,3.0,5.0,4.0,3.0,3.0,4.0,4.0,3.0,3.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,4.0,3.0,3.0,2.0,4.0,3.0,3.0,3.0,4.0,1.0,1.0,1.0,2.0,2.0,4.0,4.0,4.0,1.0,3.0,3.0,3.0,2.0,2.0,3.0,2.0,1.0,1.0,3.0,4.0,4.0,1.0,1.0,2.0,1.0,5.0,4.0,4.0,2.0,3.0,4.0,3.0,3.0,2.0,3.0,3.0,5.0,3.0,3.0,3.0,1.0,3.0,3.0,2.0,4.0,3.0,2.0,4.0,5.0,3.0,2.0,4.0,2.0,3.0,3.0,3.0,4.0,4.0,2.0,2.0,2.0,NaN,2.0,2,5.0,0.0,1.0,1.0,3.0,1.0,3.0,2.0,1992.0,2.0,3.0,1,2.0,5.0,3.0,3.0,1.0,0.0,1.0,4.0,4.0,15,2.0,2.0,3.0,5.0,4.0,5.0,7,6,1,7,7,3,4,3,3,4,3,4,3,4,2,0.0,3.0,0.0,2.0,5.0,0.0,1.0,1,0.0,2.0,9.0,9.0,6.0,3.0,9.0,2.0,5,2,3

In [47]:
not_truly_num, truly_num = [], []

for col in num_cols:
  if(df_attributes_values.loc[df_attributes_values["attribute"] == col].shape[0] == 0):
    truly_num.append(col)
  else:
    not_truly_num.append(col)

print(f"truly_num: {len(truly_num)}")
print(f"not_truly_num: {len(not_truly_num)}")

truly_num: 91
not_truly_num: 269

In [61]:
df_attributes_values.loc[df_attributes_values["attribute"] == "ANZ_HAUSHALTE_AKTIV"]

,attribute,description,value,meaning
37,ANZ_HAUSHALTE_AKTIV,number of households in the building,,numeric value (typically coded from 1-10)

In [57]:
df_azdias[not_truly_num].head(3)

,AGER_TYP,ALTER_HH,ANZ_HAUSHALTE_AKTIV,ANZ_HH_TITEL,ANZ_PERSONEN,ANZ_TITEL,BALLRAUM,CJT_GESAMTTYP,D19_BANKEN_ANZ_12,D19_BANKEN_ANZ_24,D19_BANKEN_DATUM,D19_BANKEN_OFFLINE_DATUM,D19_BANKEN_ONLINE_DATUM,D19_BANKEN_ONLINE_QUOTE_12,D19_GESAMT_ANZ_12,D19_GESAMT_ANZ_24,D19_GESAMT_DATUM,D19_GESAMT_OFFLINE_DATUM,D19_GESAMT_ONLINE_DATUM,D19_GESAMT_ONLINE_QUOTE_12,D19_KONSUMTYP,D19_TELKO_ANZ_12,D19_TELKO_ANZ_24,D19_TELKO_DATUM,D19_TELKO_OFFLINE_DATUM,D19_TELKO_ONLINE_DATUM,D19_VERSAND_ANZ_12,D19_VERSAND_ANZ_24,D19_VERSAND_DATUM,D19_VERSAND_OFFLINE_DATUM,D19_VERSAND_ONLINE_DATUM,D19_VERSAND_ONLINE_QUOTE_12,D19_VERSI_ANZ_12,D19_VERSI_ANZ_24,EWDICHTE,FINANZ_ANLEGER,FINANZ_HAUSBAUER,FINANZ_MINIMALIST,FINANZ_SPARER,FINANZ_UNAUFFAELLIGER,FINANZ_VORSORGER,FINANZTYP,GEBAEUDETYP,GEBAEUDETYP_RASTER,GEBURTSJAHR,GFK_URLAUBERTYP,GREEN_AVANTGARDE,HEALTH_TYP,HH_EINKOMMEN_SCORE,INNENSTADT,KBA05_ALTER1,KBA05_ALTER2,KBA05_ALTER3,KBA05_ALTER4,KBA05_ANHANG,KBA05_ANTG1,KBA05_ANTG2,KBA05_ANTG3,KBA05_ANTG4,KBA05_AUTOQUOT,KBA05_BAUMAX,KBA05_CCM1,KBA05_CCM2,KBA05_CCM3,KBA05_CCM4,KBA05_DIESEL,KBA05_FRAU,KBA05_GBZ,KBA05_HERST1,KBA05_HERST2,KBA05_HERST3,KBA05_HERST4,KBA05_HERST5,KBA05_HERSTTEMP,KBA05_KRSAQUOT,KBA05_KRSHERST1,KBA05_KRSHERST2,KBA05_KRSHERST3,KBA05_KRSKLEIN,KBA05_KRSOBER,KBA05_KRSVAN,KBA05_KRSZUL,KBA05_KW1,KBA05_KW2,KBA05_KW3,KBA05_MAXAH,KBA05_MAXBJ,KBA05_MAXHERST,KBA05_MAXSEG,KBA05_MAXVORB,KBA05_MOD1,KBA05_MOD2,KBA05_MOD3,KBA05_MOD4,KBA05_MOD8,KBA05_MODTEMP,KBA05_MOTOR,KBA05_MOTRAD,KBA05_SEG1,KBA05_SEG10,KBA05_SEG2,KBA05_SEG3,KBA05_SEG4,KBA05_SEG5,KBA05_SEG6,KBA05_SEG7,KBA05_SEG8,KBA05_SEG9,KBA05_VORB0,KBA05_VORB1,KBA05_VORB2,KBA05_ZUL1,KBA05_ZUL2,KBA05_ZUL3,KBA05_ZUL4,KBA13_ALTERHALTER_30,KBA13_ALTERHALTER_45,KBA13_ALTERHALTER_60,KBA13_ALTERHALTER_61,KBA13_ANZAHL_PKW,KBA13_AUDI,KBA13_AUTOQUOTE,KBA13_BJ_1999,KBA13_BJ_2000,KBA13_BJ_2004,KBA13_BJ_2006,KBA13_BJ_2008,KBA13_BJ_2009,KBA13_BMW,KBA13_CCM_0_1400,KBA13_CCM_1000,KBA13_CCM_1200,KBA13_CCM_1400,KBA13_CCM_1500,KBA13_CCM_1600,KBA13_CCM_1800,KBA13_CCM_2000,KBA13_CCM_2500,KBA13_CCM_2501,KBA13_CCM_3000,KBA13_CCM_3001,KBA13_FAB_ASIEN,KBA13_FAB_SONSTIGE,KBA13_FIAT,KBA13_FORD,KBA13_HALTER_20,KBA13_HALTER_25,KBA13_HALTER_30,KBA13_HALTER_35,KBA13_HALTER_40,KBA13_HALTER_45,KBA13_HALTER_50,KBA13_HALTER_55,KBA13_HALTER_60,KBA13_HALTER_65,KBA13_HALTER_66,KBA13_HERST_ASIEN,KBA13_HERST_AUDI_VW,KBA13_HERST_BMW_BENZ,KBA13_HERST_EUROPA,KBA13_HERST_FORD_OPEL,KBA13_HERST_SONST,KBA13_KMH_0_140,KBA13_KMH_110,KBA13_KMH_140,KBA13_KMH_140_210,KBA13_KMH_180,KBA13_KMH_211,KBA13_KMH_250,KBA13_KMH_251,KBA13_KRSAQUOT,KBA13_KRSHERST_AUDI_VW,KBA13_KRSHERST_BMW_BENZ,KBA13_KRSHERST_FORD_OPEL,KBA13_KRSSEG_KLEIN,KBA13_KRSSEG_OBER,KBA13_KRSSEG_VAN,KBA13_KRSZUL_NEU,KBA13_KW_0_60,KBA13_KW_110,KBA13_KW_120,KBA13_KW_121,KBA13_KW_30,KBA13_KW_40,KBA13_KW_50,KBA13_KW_60,KBA13_KW_61_120,KBA13_KW_70,KBA13_KW_80,KBA13_KW_90,KBA13_MAZDA,KBA13_MERCEDES,KBA13_MOTOR,KBA13_NISSAN,KBA13_OPEL,KBA13_PEUGEOT,KBA13_RENAULT,KBA13_SEG_GELAENDEWAGEN,KBA13_SEG_GROSSRAUMVANS,KBA13_SEG_KLEINST,KBA13_SEG_KLEINWAGEN,KBA13_SEG_KOMPAKTKLASSE,KBA13_SEG_MINIVANS,KBA13_SEG_MINIWAGEN,KBA13_SEG_MITTELKLASSE,KBA13_SEG_OBEREMITTELKLASSE,KBA13_SEG_OBERKLASSE,KBA13_SEG_SONSTIGE,KBA13_SEG_SPORTWAGEN,KBA13_SEG_UTILITIES,KBA13_SEG_VAN,KBA13_SEG_WOHNMOBILE,KBA13_SITZE_4,KBA13_SITZE_5,KBA13_SITZE_6,KBA13_TOYOTA,KBA13_VORB_0,KBA13_VORB_1,KBA13_VORB_1_2,KBA13_VORB_2,KBA13_VORB_3,KBA13_VW,KKK,KONSUMNAEHE,LP_FAMILIE_FEIN,LP_FAMILIE_GROB,LP_LEBENSPHASE_FEIN,LP_LEBENSPHASE_GROB,LP_STATUS_FEIN,LP_STATUS_GROB,MIN_GEBAEUDEJAHR,MOBI_REGIO,NATIONALITAET_KZ,ONLINE_AFFINITAET,ORTSGR_KLS9,PLZ8_ANTG1,PLZ8_ANTG2,PLZ8_ANTG3,PLZ8_ANTG4,PLZ8_BAUMAX,PLZ8_GBZ,PLZ8_HHZ,PRAEGENDE_JUGENDJAHRE,REGIOTYP,RELAT_AB,RETOURTYP_BK_S,SEMIO_DOM,SEMIO_ERL,SEMIO_FAM,SEMIO_KAEM,SEMIO_KRIT,SEMIO_KULT,SEMIO_LUST,SEMIO_MAT,SEMIO_PFLICHT,SEMIO_RAT,SEMIO_REL,SEMIO_SOZ,SEMIO_TRADV,SEMIO_VERT,SHOPPER_TYP,TITEL_KZ,VERS_TYP,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,-1,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0,0,10,10,10,NaN,0,0,10,10,10,NaN,NaN,0,0,10,10,10,0,0,10,10,10,NaN,0,0,NaN,5,3,3,4,5,3,4,NaN,NaN,0,10.0,0,-1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,15.0,4.0,1.0,1.0,NaN,NaN,0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,5.0,6,3,6,6,7,3,5,5,5,4,7,2,3,1,-1,NaN,-1,NaN,NaN,NaN,3,1,2
1,-1,0.0,11.0,0.0,2.0,0.0,6.0,5.0,0,0,10,10,10,NaN,0,0,10,10,10,NaN,NaN,0,0,10,10,10,0,0,10,10,10,NaN,0,0,3.0,5,5,1,5,4,2,1,8.0,3.0,1996,10.0,0,3,6.0,8.0,3.0,4.0,1.0,4.0,0.0,0.0,0.0,0.0,2.0,1.0,5.0,1.0,5.0,1.0,4.0,2.0,4.0,1.0,5.0,5.0,2.0,2.0,0.0,4.0,1.0,5.0,4.0,2.0,1.0,2.0,1.0,2.0,1.0,3.0,4.0,2.0,1.0,2.0,4.0,3.0,3.0,2.0,2.0,0.0,0.0,1.0,3.0,0.0,0.0,4.0,1.0,2.0,2.0,2.0,1.0,3.0,3.0,0.0,1.0,1.0,5.0,5.0,1.0,0.0,2.0,3.0,2.0,3.0,4.0,963.0,4.0,2.0,3.0,3.0,3.0,3.0,3.0,2.0,3.0,2.0,0.0,0.0,4.0,1.0,2.0,2.0,5.0,3.0,3.0,0.0,5.0,2.0,3.0,4.0,2.0,3.0,3.0,3.0,3.0,3.0,2.0,2.0,3.0,3.0,3.0,4.0,1.0,4.0,4.0,4.0,2.0,3.0,3.0,1.0,3.0,3.0,2.0,3.0,3.0,1.0,2.0,4.0,3.0,3.0,2.0,2.0,2.0,1.0,3.0,4.0,4.0,3.0,1.0,2.0,4.0,0.0,3.0,1.0,2.0,3.0,2.0,4.0,3.0,2.0,3.0,4.0,3.0,2.0,3.0,2.0,2.0,5.0,4.0,2.0,3.0,3.0,3.0,2.0,3.0,3.0,4.0,2.0,3.0,3.0,4.0,2.0,3.0,3.0,3.0,3.0,3.0,4.0,2.0,1.0,5.0,3.0,21.0,6.0,2.0,1.0,1992.0,1.0,1,3.0,5.0,2.0,3.0,2.0,1.0,1.0,4.0,5.0,14,3.0,4.0,1.0,7,2,4,4,4,3,2,3,7,6,4,5,6,1,3,0.0,2,3.0,9.0,4.0,5,2,1
2,-1,17.0,10.0,0.0,1.0,0.0,2.0,3.0,0,0,10,10,10,0.0,0,0,10,10,10,0.0,9.0,0,0,10,10,10,0,0,10,10,10,0.0,0,0,4.0,2,5,1,4,3,1,1,1.0,4.0,1979,10.0,1,3,4.0,4.0,2.0,3.0,3.0,3.0,0.0,1.0,3.0,1.0,0.0,3.0,0.0,5.0,2.0,3.0,0.0,0.0,3.0,3.0,2.0,2.0,3.0,2.0,5.0,4.0,3.0,3.0,2.0,3.0,3.0,2.0,2.0,3.0,3.0,2.0,2.0,3.0,4.0,5.0,1.0,1.0,0.0,2.0,5.0,1.0,1.0,4.0,1.0,1.0,2.0,1.0,5.0,3.0,3.0,1.0,0.0,0.0,0.0,1.0,4.0,2.0,3.0,2.0,3.0,4.0,4.0,3.0,2.0,3.0,3.0,712.0,3.0,3.0,2.0,2.0,4.0,5.0,3.0,1.0,4.0,1.0,1.0,2.0,2.0,4.0,3.0,4.0,3.0,3.0,4.0,3.0,5.0,4.0,3.0,3.0,4.0,3.0,3.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,4.0,3.0,3.0,2.0,4.0,3.0,3.0,3.0,1.0,1.0,1.0,2.0,2.0,4.0,4.0,1.0,3.0,3.0,3.0,2.0,2.0,3.0,2.0,1.0,1.0,3.0,4.0,4.0,1.0,1.0,2.0,1.0,5.0,4.0,4.0,2.0,3.0,4.0,3.0,3.0,2.0,3.0,3.0,5.0,3.0,3.0,3.0,1.0,3.0,3.0,2.0,4.0,3.0,2.0,4.0,5.0,3.0,2.0,4.0,2.0,3.0,3.0,3.0,4.0,4.0,2.0,2.0,2.0,2.0,5.0,1.0,1.0,3.0,1.0,3.0,2.0,1992.0,3.0,1,2.0,5.0,3.0,3.0,1.0,0.0,1.0,4.0,4.0,15,2.0,2.0,3.0,7,6,1,7,7,3,4,3,3,4,3,4,3,4,2,0.0,1,3.0,9.0,2.0,5,2,3

In [49]:
df_azdias[truly_num].head(3)

,LNR,AKT_DAT_KL,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_KINDER,ANZ_STATISTISCHE_HAUSHALTE,ARBEIT,CJT_KATALOGNUTZER,CJT_TYP_1,CJT_TYP_2,CJT_TYP_3,CJT_TYP_4,CJT_TYP_5,CJT_TYP_6,D19_BANKEN_DIREKT,D19_BANKEN_GROSS,D19_BANKEN_LOKAL,D19_BANKEN_REST,D19_BEKLEIDUNG_GEH,D19_BEKLEIDUNG_REST,D19_BILDUNG,D19_BIO_OEKO,D19_BUCH_CD,D19_DIGIT_SERV,D19_DROGERIEARTIKEL,D19_ENERGIE,D19_FREIZEIT,D19_GARTEN,D19_HANDWERK,D19_HAUS_DEKO,D19_KINDERARTIKEL,D19_KONSUMTYP_MAX,D19_KOSMETIK,D19_LEBENSMITTEL,D19_LOTTO,D19_NAHRUNGSERGAENZUNG,D19_RATGEBER,D19_REISEN,D19_SAMMELARTIKEL,D19_SCHUHE,D19_SONSTIGE,D19_SOZIALES,D19_TECHNIK,D19_TELKO_MOBILE,D19_TELKO_ONLINE_QUOTE_12,D19_TELKO_REST,D19_TIERARTIKEL,D19_VERSAND_REST,D19_VERSI_DATUM,D19_VERSI_OFFLINE_DATUM,D19_VERSI_ONLINE_DATUM,D19_VERSI_ONLINE_QUOTE_12,D19_VERSICHERUNGEN,D19_VOLLSORTIMENT,D19_WEIN_FEINKOST,DSL_FLAG,EINGEZOGENAM_HH_JAHR,EXTSEL992,FIRMENDICHTE,GEMEINDETYP,HH_DELTA_FLAG,KBA13_ANTG1,KBA13_ANTG2,KBA13_ANTG3,KBA13_ANTG4,KBA13_BAUMAX,KBA13_CCM_1401_2500,KBA13_GBZ,KBA13_HHZ,KBA13_KMH_210,KK_KUNDENTYP,KOMBIALTER,KONSUMZELLE,MOBI_RASTER,RT_KEIN_ANREIZ,RT_SCHNAEPPCHEN,RT_UEBERGROESSE,SOHO_KZ,STRUKTURTYP,UMFELD_ALT,UMFELD_JUNG,UNGLEICHENN_FLAG,VERDICHTUNGSRAUM,VHA,VHN,VK_DHT4A,VK_DISTANZ,VK_ZG11
0,910215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,1.0,5.0,5.0,5.0,5.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9,0,0,NaN,0,0,0,0,0,0,NaN,0,0,NaN,0,0,0,10,10,10,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN,NaN,1.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,910220,9.0,NaN,NaN,NaN,NaN,21.0,0.0,12.0,3.0,1.0,5.0,5.0,2.0,3.0,1.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9,0,0,NaN,0,0,0,0,0,0,NaN,0,0,NaN,0,0,0,10,10,10,NaN,0,0,0,1.0,2004.0,NaN,2.0,22.0,0.0,2.0,4.0,2.0,1.0,2.0,3.0,4.0,5.0,4.0,NaN,1,1.0,1.0,5.0,3.0,5.0,1.0,2.0,3.0,3.0,1.0,0.0,0.0,4.0,8.0,11.0,10.0
2,910225,9.0,NaN,NaN,NaN,NaN,17.0,0.0,7.0,3.0,2.0,4.0,4.0,1.0,3.0,2.0,2.0,0,0,0,0,0,0,6,0,0,0,0,0,0,0,0,0,0,8,6,0,0.0,0,0,0,0,0,6,0.0,6,0,0.0,0,0,0,10,10,10,0.0,0,7,0,1.0,2000.0,14.0,4.0,22.0,0.0,2.0,3.0,1.0,0.0,1.0,3.0,4.0,4.0,4.0,NaN,2,0.0,2.0,5.0,4.0,5.0,0.0,3.0,2.0,5.0,0.0,1.0,0.0,2.0,9.0,9.0,6.0

In [58]:
df_information_levels.loc[df_information_levels["attribute"] == "ALTER_HH"]

   Information_Level attribute                    description additional_notes
44         Household  ALTER_HH  main age within the household              NaN